@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
li,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

a,
a:visited {
  text-decoration: none;
  color: #000; }

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif; }

.wrap::after {
  content: "";
  display: block;
  clear: both; }

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
  text-transform: uppercase; }
  header .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    header .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      header .inner h1 img {
        width: 100px;
        height: auto; }
    header .inner .gnb {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      transition: 0.4s; }
      header .inner .gnb ul:not(:nth-of-type(3)) {
        margin-right: 200px; }
      header .inner .gnb ul li {
        position: relative; }
        header .inner .gnb ul li a h2 {
          font-size: 20px;
          font-weight: 400; }
    header .inner .btn-menu {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 20px;
      height: 20px;
      color: #333;
      display: none; }
      header .inner .btn-menu::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      header .inner .btn-menu.on::before {
        top: 50%;
        transform: rotate(45deg);
        margin-top: -1px; }
      header .inner .btn-menu.on::after {
        bottom: 50%;
        transform: rotate(-45deg);
        margin-bottom: -1px; }
      header .inner .btn-menu.on span {
        transform: translateX(100%);
        opacity: 0; }
    header .inner .menu-mobile {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100vh;
      background-color: #fff;
      z-index: 50;
      padding: 60px 30px;
      transition: 0.5s; }
      header .inner .menu-mobile > h1 {
        position: relative;
        top: 0;
        left: 0;
        font-size: 42px;
        color: #fff;
        text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333; }
      header .inner .menu-mobile ul li {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333; }
        header .inner .menu-mobile ul li a h2 {
          transition: 0.3s; }
        header .inner .menu-mobile ul li:hover a h2 {
          font-size: 24px; }
      header .inner .menu-mobile.on {
        left: 0; }

.content {
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif; }
  .content > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: saturate(0);
    border-bottom: 1px solid #333; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 40px 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333; }
    .content .inner .content .title {
      margin-bottom: 100px; }
      .content .inner .content .title h1 {
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        position: relative;
        margin-bottom: 50px;
        transition: 0.5s; }
        .content .inner .content .title h1::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #333;
          margin-top: 20px;
          animation: titleAni 3s cubic-bezier(0.21, 0.2, 0, 0.99) forwards; }
        .content .inner .content .title h1:hover {
          text-shadow: -1px 0px #333, 0px 1px #333, 1px 0px #333, 0px -1px #333;
          color: #fff; }

@keyframes titleAni {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
      .content .inner .content .title p {
        font-size: 24px;
        line-height: 1.3;
        color: #333; }
    .content .inner .content .content__box {
      margin-bottom: 200px; }
      .content .inner .content .content__box > h1 {
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        position: relative;
        margin-bottom: 50px; }
      .content .inner .content .content__box article {
        margin-bottom: 20px;
        padding: 20px 0 0 0;
        border-top: 1px solid #333; }
        .content .inner .content .content__box article:nth-of-type(3) {
          margin-bottom: 0; }
        .content .inner .content .content__box article > div {
          width: calc(100% / 3);
          float: left; }
        .content .inner .content .content__box article .title {
          width: calc(100% / 3 - 5%); }
          .content .inner .content .content__box article .title h2 {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400; }
        .content .inner .content .content__box article .text {
          width: calc(100% / 3 + 4%);
          margin-right: 1%; }
        .content .inner .content .content__box article .img img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          filter: saturate(0); }
    .content .inner .content .content__members {
      position: relative;
      width: 100%; }
      .content .inner .content .content__members > .wrap {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 auto; }
        .content .inner .content .content__members > .wrap .member {
          width: calc(100% / 3 - 14px);
          float: left;
          margin-right: 20px;
          margin-bottom: 40px; }
          .content .inner .content .content__members > .wrap .member:nth-of-type(3), .content .inner .content .content__members > .wrap .member:nth-of-type(6) {
            margin-right: 0; }
          .content .inner .content .content__members > .wrap .member img {
            width: 366px;
            height: 366px;
            object-fit: cover;
            margin: 15px 0;
            padding: 15px 0;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            filter: saturate(0); }
          .content .inner .content .content__members > .wrap .member address {
            font-style: normal;
            line-height: 2; }
    .content .inner .content .mySwiper {
      width: 100%;
      height: 800px;
      overflow: hidden; }
      .content .inner .content .mySwiper .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: saturate(0); }
      .content .inner .content .mySwiper .swiper-button-next,
      .content .inner .content .mySwiper .swiper-button-prev {
        color: #fff;
        transform: translateY(100px); }
    .content .inner .content__history {
      width: 100%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 50px; }
      .content .inner .content__history > h1 {
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        position: relative;
        margin-bottom: 60px; }
      .content .inner .content__history .content__circle {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: #333;
        border-radius: 50%;
        margin: 0 auto; }
        .content .inner .content__history .content__circle::before {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          transform: translateZ(-50%);
          width: 1px;
          height: 107vh;
          background-color: #333; }
      .content .inner .content__history > ul {
        width: 100%;
        height: 100vh;
        position: relative; }
        .content .inner .content__history > ul > li {
          width: 50%;
          position: absolute; }
          .content .inner .content__history > ul > li:nth-of-type(1) {
            top: 10%;
            left: -2%;
            text-align: right; }
          .content .inner .content__history > ul > li:nth-of-type(2) {
            position: absolute;
            top: 40%;
            left: 52%; }
          .content .inner .content__history > ul > li:nth-of-type(3) {
            top: 70%;
            left: -2%;
            text-align: right; }
          .content .inner .content__history > ul > li > span {
            font-size: 42px;
            font-weight: 700;
            position: relative; }
            .content .inner .content__history > ul > li > span::before {
              content: "";
              display: block;
              width: 30vw;
              height: 1px;
              position: absolute;
              top: 50%;
              right: -40%;
              background-color: #333; }
            .content .inner .content__history > ul > li > span::after {
              content: "";
              display: block;
              width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 50%;
              border: 1px solid #333;
              position: absolute;
              top: 50%;
              right: -40%;
              transform: translateY(-50%); }
          .content .inner .content__history > ul > li > ul {
            margin-top: 20px; }
            .content .inner .content__history > ul > li > ul li {
              margin-bottom: 20px; }
              .content .inner .content__history > ul > li > ul li::after {
                content: "";
                display: block;
                clear: both; }
              .content .inner .content__history > ul > li > ul li span,
              .content .inner .content__history > ul > li > ul li p {
                display: block;
                float: right; }
              .content .inner .content__history > ul > li > ul li span {
                margin-left: 20px;
                font-size: 24px;
                font-weight: 700; }
              .content .inner .content__history > ul > li > ul li p {
                line-height: 20px;
                padding: 5px 0; }
          .content .inner .content__history > ul > li:nth-of-type(2) li span,
          .content .inner .content__history > ul > li:nth-of-type(2) li p {
            float: left; }
          .content .inner .content__history > ul > li:nth-of-type(2) li span {
            margin-right: 20px; }
          .content .inner .content__history > ul > li:nth-of-type(2) > span::before {
            right: 0;
            left: -30%; }
          .content .inner .content__history > ul > li:nth-of-type(2) > span::after {
            right: 0;
            left: -35%; }

footer {
  width: 100%;
  background-color: #333;
  color: #333; }
  footer .footer-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    color: #fff; }
    footer .footer-inner > .title {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff; }
      footer .footer-inner > .title > h1 {
        float: left;
        text-transform: uppercase; }
      footer .footer-inner > .title .link {
        float: right; }
        footer .footer-inner > .title .link a {
          display: block;
          float: left;
          padding: 10px 30px;
          color: #fff; }
    footer .footer-inner .text address {
      font-style: normal;
      margin-bottom: 10px; }

@media screen and (max-width: 1179px) {
  header .inner {
    width: 100%; }
    header .inner h1 {
      left: 30px; }
    header .inner .gnb {
      margin-right: 30px; }
  .content {
    width: 100%;
    position: relative;
    font-family: "Montserrat", sans-serif; }
    .content > img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      filter: saturate(0);
      border-bottom: 1px solid #333; }
    .content .inner {
      width: 100%;
      margin: 0 auto;
      padding: 40px 20px;
      border-left: 1px solid #333;
      border-right: 1px solid #333; }
      .content .inner .content .title {
        margin-bottom: 100px; }
        .content .inner .content .title h1 {
          font-size: 4em;
          text-transform: uppercase;
          letter-spacing: -0.03em;
          position: relative;
          margin-bottom: 50px;
          transition: 0.5s; }
          .content .inner .content .title h1::after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: #333;
            margin-top: 20px;
            animation: titleAni 3s cubic-bezier(0.21, 0.2, 0, 0.99) forwards; }
          .content .inner .content .title h1:hover {
            text-shadow: -1px 0px #333, 0px 1px #333, 1px 0px #333, 0px -1px #333;
            color: #fff; }
  @keyframes titleAni {
    0% {
      width: 0; }
    100% {
      width: 100%; } }
        .content .inner .content .title p {
          font-size: 24px;
          line-height: 1.3;
          color: #333; }
      .content .inner .content .content__members > .wrap {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 auto; }
        .content .inner .content .content__members > .wrap .member {
          width: 48%;
          margin-right: 0; }
          .content .inner .content .content__members > .wrap .member:nth-child(odd) {
            margin-right: 20px; }
          .content .inner .content .content__members > .wrap .member img {
            width: 100%; }
          .content .inner .content .content__members > .wrap .member address {
            font-size: 18px; } }

@media screen and (max-width: 900px) {
  header .inner .gnb {
    display: none; }
  header .inner .btn-menu {
    display: block; } }

@media screen and (max-width: 639px) {
  footer .footer-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #fff; }
    footer .footer-inner > .title {
      border-bottom: 1px solid #fff;
      margin-bottom: 10px; }
      footer .footer-inner > .title > h1 {
        float: left;
        text-transform: uppercase;
        text-align-last: left;
        margin-right: 20px; }
      footer .footer-inner > .title .link {
        float: left; }
        footer .footer-inner > .title .link a {
          display: block;
          float: left;
          padding: 10px 20px 10px 0;
          margin: 0; }
    footer .footer-inner .text address {
      font-size: 12px; }
    footer .footer-inner .text p {
      font-size: 12px; } }

@media screen and (max-width: 590px) {
  .content .inner .content .content__members .wrap .member {
    width: 100%; }
  .content .inner .content .content__box {
    margin-bottom: 200px; }
    .content .inner .content .content__box > h1 {
      font-size: 4em;
      text-transform: uppercase;
      letter-spacing: -0.03em;
      position: relative;
      margin-bottom: 50px; }
    .content .inner .content .content__box article {
      margin-bottom: 20px;
      padding: 20px 0 0 0;
      border-top: 1px solid #333; }
      .content .inner .content .content__box article:nth-of-type(3) {
        margin-bottom: 0; }
      .content .inner .content .content__box article > div {
        width: calc(50%);
        float: left; }
      .content .inner .content .content__box article .title {
        width: calc(100% / 2 - 5%); }
        .content .inner .content .content__box article .title h2 {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 400; }
      .content .inner .content .content__box article .text {
        width: calc(100% / 2 + 4%);
        margin-right: 1%;
        margin-bottom: 20px;
        font-size: 16px; }
      .content .inner .content .content__box article .img {
        width: 100%; }
        .content .inner .content .content__box article .img img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          filter: saturate(0); } }
