@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap");
header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
  text-transform: uppercase; }
  header .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    header .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      header .inner h1 a p {
        font-size: 48px;
        color: #fff;
        text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333; }
    header .inner .gnb {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      transition: 0.4s; }
      header .inner .gnb ul:not(:nth-of-type(3)) {
        margin-right: 200px; }
      header .inner .gnb ul li {
        position: relative; }
        header .inner .gnb ul li a h2 {
          font-size: 20px;
          font-weight: 400; }
    header .inner .btn-menu {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 20px;
      height: 20px;
      color: #333;
      display: none; }
      header .inner .btn-menu::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      header .inner .btn-menu.on::before {
        top: 50%;
        transform: rotate(45deg);
        margin-top: -1px; }
      header .inner .btn-menu.on::after {
        bottom: 50%;
        transform: rotate(-45deg);
        margin-bottom: -1px; }
      header .inner .btn-menu.on span {
        transform: translateX(100%);
        opacity: 0; }
    header .inner .menu-mobile {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100vh;
      background-color: #fff;
      z-index: 50;
      padding: 60px 30px;
      transition: 0.5s; }
      header .inner .menu-mobile > h1 {
        position: relative;
        top: 0;
        left: 0;
        font-size: 42px;
        color: #fff;
        text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333; }
      header .inner .menu-mobile ul li {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333; }
        header .inner .menu-mobile ul li a h2 {
          transition: 0.3s; }
        header .inner .menu-mobile ul li:hover a h2 {
          font-size: 24px; }
      header .inner .menu-mobile.on {
        left: 0; }

main {
  width: 100%; }
  main section {
    width: 100%; }
    main section.mainView {
      height: 100vh;
      margin-bottom: 100px; }
      main section.mainView .inner {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        position: relative; }
        main section.mainView .inner::after {
          content: "";
          display: block;
          clear: both; }
        main section.mainView .inner .text {
          float: left;
          position: absolute;
          top: 100px;
          left: 0%;
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 2; }
          main section.mainView .inner .text h1 {
            font-size: 120px;
            text-transform: uppercase;
            margin-bottom: 20px;
            position: relative; }
          main section.mainView .inner .text h2 {
            font-size: 22px;
            color: #333;
            margin-bottom: 30px;
            position: relative; }
          main section.mainView .inner .text p {
            width: 80%;
            font-size: 16px;
            color: #777;
            line-height: 1.4;
            position: relative; }
        main section.mainView .inner .more {
          position: absolute;
          top: 500px;
          left: 20px;
          display: flex;
          z-index: 2; }
          main section.mainView .inner .more .more-img {
            width: 80px;
            height: 80px;
            margin-right: 20px; }
            main section.mainView .inner .more .more-img:hover img {
              filter: saturate(100%); }
            main section.mainView .inner .more .more-img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              filter: saturate(0);
              transition: 0.5s; }
          main section.mainView .inner .more .more-text {
            display: flex;
            flex-direction: column; }
            main section.mainView .inner .more .more-text h3 {
              font-size: 16px;
              text-transform: uppercase;
              margin-bottom: 10px; }
            main section.mainView .inner .more .more-text p {
              font-size: 14px;
              color: #333;
              width: 90%;
              border-top: 1px solid #888;
              padding-top: 10px; }
          main section.mainView .inner .more .more-btn {
            position: absolute;
            top: 150px;
            left: -30px;
            border-radius: 100px;
            border: 1px solid #333;
            transition: 0.3s; }
            main section.mainView .inner .more .more-btn a {
              display: block;
              padding: 20px 50px;
              color: #333;
              font-weight: bold;
              font-size: 18px; }
            main section.mainView .inner .more .more-btn:hover {
              background-color: #333; }
              main section.mainView .inner .more .more-btn:hover a {
                color: #fff; }
        main section.mainView .inner .img {
          width: 40%;
          height: 100%;
          float: right;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1; }
          main section.mainView .inner .img img {
            position: absolute;
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: saturate(0);
            transition: 0.5s;
            overflow: hidden; }
            main section.mainView .inner .img img:nth-of-type(1) {
              width: 90%;
              top: 6%;
              left: -50%; }
            main section.mainView .inner .img img:nth-of-type(2) {
              width: 80%;
              top: 20%;
              left: 30%; }
            main section.mainView .inner .img img:hover {
              filter: saturate(100%);
              transform: scale(1.02); }
    main section.newArrival {
      width: 100%;
      padding: 80px 0;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333; }
      main section.newArrival .inner {
        width: 1180px;
        margin: 0 auto; }
        main section.newArrival .inner > h1 {
          font-size: 48px;
          font-weight: bold;
          text-transform: uppercase;
          color: #333;
          text-align: center; }
        main section.newArrival .inner .wrap {
          margin-top: 100px; }
          main section.newArrival .inner .wrap article {
            float: left;
            width: 380px;
            margin-right: 20px; }
            main section.newArrival .inner .wrap article:nth-of-type(3) {
              margin-right: 0; }
            main section.newArrival .inner .wrap article .img img {
              width: 100%;
              height: 380px;
              object-fit: cover;
              filter: saturate(0);
              transition: 0.4s; }
            main section.newArrival .inner .wrap article .img:hover img {
              filter: saturate(100%); }
            main section.newArrival .inner .wrap article .text {
              margin-top: 20px; }
              main section.newArrival .inner .wrap article .text h2 {
                font-size: 28px;
                text-transform: uppercase;
                margin-bottom: 10px; }
              main section.newArrival .inner .wrap article .text p {
                font-size: 18px;
                color: #333;
                margin-bottom: 20px;
                letter-spacing: -0.03em; }
              main section.newArrival .inner .wrap article .text a {
                text-transform: uppercase;
                display: block;
                width: 150px;
                height: 40px;
                border-radius: 100px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #333;
                color: #333;
                transition: 0.4s; }
                main section.newArrival .inner .wrap article .text a:hover {
                  background-color: #333;
                  color: #fff; }
                main section.newArrival .inner .wrap article .text a:active {
                  transform: scale(0.98); }
    main section.mainGallery {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: relative; }
      main section.mainGallery .images {
        width: 500%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%; }
        main section.mainGallery .images::after {
          content: "";
          display: block;
          clear: both; }
        main section.mainGallery .images img {
          float: left;
          width: 100vw;
          height: 100%;
          object-fit: cover;
          filter: saturate(0); }
      main section.mainGallery .btns {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100vw; }
        main section.mainGallery .btns button {
          position: absolute;
          width: 120px;
          height: 120px;
          background-color: transparent;
          border: 1px solid #fff;
          outline: none;
          border-radius: 50%;
          font-size: 30px;
          color: #fff;
          cursor: pointer; }
          main section.mainGallery .btns button.prev {
            left: 50px; }
          main section.mainGallery .btns button.next {
            right: 50px; }
    main section.category {
      width: 100%;
      height: 100vh;
      border-bottom: 1px solid #333;
      position: relative;
      overflow: hidden; }
      main section.category .inner {
        width: 1180px;
        height: 100vh;
        margin: 0 auto;
        border-left: 1px solid #333;
        border-right: 1px solid #333; }
        main section.category .inner::after {
          content: "";
          display: block;
          clear: both; }
        main section.category .inner a {
          display: block;
          width: 25%;
          height: calc(50vh - 1px);
          float: left;
          position: relative;
          cursor: none; }
          main section.category .inner a:nth-of-type(1) img {
            border-right: 1px solid #333; }
          main section.category .inner a:nth-of-type(2) img {
            border-bottom: 1px solid #333;
            border-right: 1px solid #333; }
          main section.category .inner a:nth-of-type(3) img {
            border-bottom: 1px solid #333; }
          main section.category .inner a:nth-of-type(4) img {
            border-right: 1px solid #333; }
          main section.category .inner a img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: saturate(0);
            transition: 0.3s; }
          main section.category .inner a .text {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: #333;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.4);
            transition: 0.3s; }
          main section.category .inner a:nth-of-type(1) {
            width: 50%;
            height: calc(100vh - 2px); }
          main section.category .inner a:hover img {
            filter: saturate(100%); }
          main section.category .inner a:hover .text {
            display: flex; }
      main section.category .cursor {
        position: absolute;
        width: 80px;
        height: 80px;
        font-size: 18px;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        color: #333;
        border-radius: 50%;
        border: 1px solid #333;
        z-index: 1000;
        pointer-events: none;
        transform: translateX(-50%); }
    main section.review {
      width: 100%;
      height: 200vh; }
      main section.review img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.scrollBtns {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 100; }
  .scrollBtns ul li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s; }
    .scrollBtns ul li.on {
      height: 100px;
      border-radius: 100px;
      background-color: #333; }

.moveTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: 1s; }
  .moveTop i {
    font-size: 22px;
    line-height: 50px; }
  .moveTop .on {
    opacity: 1; }

.content {
  width: 100%;
  color: #333;
  position: relative; }
  .content > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #333;
    filter: saturate(0); }
  .content > h1 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.04em;
    font-size: 48px; }
  .content .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 40px 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333; }
    .content .inner > .title {
      margin-bottom: 100px; }
      .content .inner > .title h1 {
        text-transform: uppercase;
        font-size: 64px;
        margin-bottom: 30px; }
        .content .inner > .title h1::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #333;
          margin-top: 20px;
          animation: ani cubic-bezier(0.55, 0, 0.46, 1.01) 2s forwards; }

@keyframes ani {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
      .content .inner > .title p {
        color: #333;
        font-size: 18px;
        line-height: 1.4; }
    .content .inner .con {
      width: 100%;
      margin-bottom: 200px;
      margin: 0 auto; }
      .content .inner .con .con-title {
        font-size: 40px;
        text-transform: uppercase;
        position: relative;
        background-color: #fff;
        margin-bottom: 50px; }
        .content .inner .con .con-title::before {
          content: "";
          display: block;
          width: 80%;
          height: 1px;
          background-color: #333;
          position: absolute;
          top: 50%;
          right: 0; }
      .content .inner .con .about-identity {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333; }
        .content .inner .con .about-identity:nth-of-type(3) {
          border-bottom: none; }
        .content .inner .con .about-identity > .title {
          float: left;
          width: 30%; }
        .content .inner .con .about-identity > .text {
          float: left;
          width: 35%; }
        .content .inner .con .about-identity > .img {
          float: right;
          width: 35%; }
          .content .inner .con .about-identity > .img img {
            width: 400px;
            height: 200px;
            object-fit: cover;
            filter: saturate(0); }
      .content .inner .con .about-history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%; }
        .content .inner .con .about-history .history-circle {
          width: 50px;
          height: 50px;
          background-color: #333;
          border-radius: 50%;
          position: relative;
          margin-bottom: 50px; }
          .content .inner .con .about-history .history-circle::before {
            content: "";
            display: block;
            width: 1px;
            height: 900px;
            background-color: #333;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%); }
        .content .inner .con .about-history > ul > li {
          text-align: right;
          transform: translateX(-150px);
          margin-bottom: 100px; }
          .content .inner .con .about-history > ul > li > ul li {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            font-size: 18px; }
            .content .inner .con .about-history > ul > li > ul li div {
              display: flex;
              align-items: center; }
              .content .inner .con .about-history > ul > li > ul li div strong {
                order: 2;
                margin: 0 20px;
                font-size: 24px; }
          .content .inner .con .about-history > ul > li:nth-of-type(2) {
            text-align: left;
            transform: translateX(150px); }
            .content .inner .con .about-history > ul > li:nth-of-type(2) ul li strong {
              order: -1; }
          .content .inner .con .about-history > ul > li > p {
            font-size: 48px;
            font-weight: 700; }
            .content .inner .con .about-history > ul > li > p::after {
              content: "";
              display: block;
              width: 100%;
              height: 1px;
              background-color: #333;
              margin: 20px 0; }
      .content .inner .con .member {
        width: 360px;
        float: left;
        margin-right: 20px;
        margin-bottom: 50px; }
        .content .inner .con .member:nth-of-type(3), .content .inner .con .member:nth-of-type(6) {
          margin-right: 0; }
        .content .inner .con .member h2 {
          font-size: 28px; }
        .content .inner .con .member img {
          width: 360px;
          height: 360px;
          object-fit: cover;
          border-top: 1px solid #333;
          border-bottom: 1px solid #333;
          padding: 20px 0;
          margin: 20px 0;
          filter: saturate(0);
          transition: 0.4s; }
          .content .inner .con .member img:hover {
            filter: none; }
        .content .inner .con .member address {
          font-style: normal;
          font-size: 18px;
          line-height: 1.5; }
      .content .inner .con .gallery-img {
        width: 20%;
        padding: 0 3px; }
        .content .inner .con .gallery-img img {
          width: 100%;
          filter: saturate(0);
          object-fit: cover; }
      .content .inner .con .terms textarea {
        width: 100%;
        height: 100px;
        padding: 20px; }
    .content .inner .btnIcons {
      width: 100%;
      position: absolute;
      top: 200px;
      right: 0; }
      .content .inner .btnIcons article {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .content .inner .btnIcons article input {
          position: absolute;
          top: -9px;
          right: 22px;
          width: 40px;
          height: 40px;
          padding: 0 10px;
          transition: 0.5s;
          border: none;
          border-radius: 4px; }
          .content .inner .btnIcons article input:focus, .content .inner .btnIcons article input:active {
            outline: none; }
          .content .inner .btnIcons article input::placeholder {
            color: #fff; }
          .content .inner .btnIcons article input.on {
            width: 200px;
            border: 1px solid #333;
            transition: 0.5s; }
            .content .inner .btnIcons article input.on::placeholder {
              color: #333; }
        .content .inner .btnIcons article i {
          font-size: 22px;
          margin: 0 30px;
          cursor: pointer;
          transition: color 0.4s;
          z-index: 2; }
          .content .inner .btnIcons article i:hover {
            color: #777; }
    .content .inner .faq-board {
      width: 100%; }
      .content .inner .faq-board table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse; }
        .content .inner .faq-board table tr {
          height: 60px;
          text-align: center; }
          .content .inner .faq-board table tr:not(:nth-of-type(1)) {
            transition: 0.2s; }
            .content .inner .faq-board table tr:not(:nth-of-type(1)):hover {
              background-color: #333;
              color: #fff; }
              .content .inner .faq-board table tr:not(:nth-of-type(1)):hover a {
                color: #fff; }
          .content .inner .faq-board table tr td:nth-of-type(3) {
            text-align: left;
            padding-left: 10px; }
          .content .inner .faq-board table tr th,
          .content .inner .faq-board table tr td {
            border-bottom: 1px solid #333;
            padding: 10px; }
    .content .inner .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      height: 100px;
      margin: 0 auto;
      margin-top: 30px; }
      .content .inner .pagination button {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #333;
        outline: none;
        transition: 0.3s;
        cursor: pointer; }
        .content .inner .pagination button:hover {
          background-color: #333;
          color: #fff; }
      .content .inner .pagination ul {
        display: flex; }
        .content .inner .pagination ul li {
          width: 50px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          margin: 0 10px;
          transition: 0.3s; }
          .content .inner .pagination ul li:hover {
            background-color: #333; }
            .content .inner .pagination ul li:hover a {
              color: #fff; }
          .content .inner .pagination ul li a {
            display: block;
            width: 100%;
            height: 100%;
            transform: translateY(1px); }
  .content .more-btn {
    width: 100%;
    margin-top: 100px; }
    .content .more-btn button {
      display: block;
      padding: 15px 40px;
      font-size: 17px;
      border-radius: 100px;
      border: none;
      margin: 0 auto;
      font-weight: 700;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: 0.4s;
      cursor: pointer; }
      .content .more-btn button:hover {
        background-color: #333;
        color: #fff; }

footer {
  width: 100%;
  background-color: #333;
  color: #333; }
  footer .footer-inner {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    color: #fff; }
    footer .footer-inner > .title {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff; }
      footer .footer-inner > .title > h1 {
        float: left;
        text-transform: uppercase; }
      footer .footer-inner > .title .link {
        float: right; }
        footer .footer-inner > .title .link a {
          display: block;
          float: left;
          padding: 10px 30px;
          color: #fff; }
    footer .footer-inner .text address {
      font-style: normal;
      margin-bottom: 10px; }

@media screen and (max-width: 1179px) {
  header .inner {
    width: 100%; }
    header .inner h1 {
      left: 30px; }
    header .inner .gnb {
      margin-right: 30px; }
  main {
    width: 100%; }
    main section {
      width: 100%; }
      main section.mainView {
        height: 100vh; }
        main section.mainView .inner {
          width: 90%;
          height: 100%; }
          main section.mainView .inner .text {
            width: 40%; }
            main section.mainView .inner .text h1 {
              font-size: 70px; }
            main section.mainView .inner .text h2 {
              font-size: 20px; }
            main section.mainView .inner .text p {
              width: 90%;
              font-size: 16px;
              color: #777;
              line-height: 1.4;
              position: relative; }
          main section.mainView .inner .more {
            top: 500px;
            left: 0px; }
            main section.mainView .inner .more .more-img {
              width: 50px;
              height: 50px; }
              main section.mainView .inner .more .more-img:hover img {
                filter: saturate(100%); }
            main section.mainView .inner .more .more-text h3 {
              font-size: 16px; }
            main section.mainView .inner .more .more-text p {
              font-size: 12px;
              width: 60%; }
            main section.mainView .inner .more .more-btn {
              top: 120px;
              left: -10px; }
              main section.mainView .inner .more .more-btn a {
                padding: 15px 30px;
                font-size: 16px; }
      main section.newArrival .inner {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px; }
        main section.newArrival .inner > h1 {
          font-size: 32px; }
        main section.newArrival .inner .wrap {
          margin-top: 100px; }
          main section.newArrival .inner .wrap article {
            width: calc(100% / 3 - 15px); }
            main section.newArrival .inner .wrap article .text h2 {
              font-size: 22px; }
            main section.newArrival .inner .wrap article .text p {
              font-size: 16px; }
            main section.newArrival .inner .wrap article .text a {
              width: 120px; }
              main section.newArrival .inner .wrap article .text a:hover {
                background-color: #333;
                color: #fff; }
      main section.mainGallery {
        width: 100%;
        overflow: hidden;
        position: relative; }
        main section.mainGallery .images {
          width: 100%;
          height: 100vh; }
          main section.mainGallery .images::after {
            content: "";
            display: block;
            clear: both; }
          main section.mainGallery .images img {
            float: left;
            width: 100vw;
            height: 100%;
            object-fit: cover;
            filter: saturate(0); }
        main section.mainGallery .btns {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100vw; }
          main section.mainGallery .btns button {
            position: absolute;
            width: 120px;
            height: 120px;
            background-color: transparent;
            border: 1px solid #fff;
            outline: none;
            border-radius: 50%;
            font-size: 30px;
            color: #fff;
            cursor: pointer; }
            main section.mainGallery .btns button.prev {
              left: 50px; }
            main section.mainGallery .btns button.next {
              right: 50px; }
      main section.category .inner {
        width: 100%; }
        main section.category .inner a .text {
          font-size: 26px; }
      main section.review {
        width: 100%;
        height: 200vh; }
        main section.review img {
          width: 100%;
          height: 100%;
          object-fit: cover; } }

@media screen and (max-width: 1179px) and (max-width: 900px) {
  header .inner .gnb {
    display: none; }
  header .inner .btn-menu {
    display: block; } }

@media screen and (max-width: 639px) {
  footer .footer-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #fff; }
    footer .footer-inner > .title {
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      footer .footer-inner > .title > h1 {
        float: none;
        text-transform: uppercase;
        text-align-last: left;
        margin-right: 20px;
        font-size: 20px; }
      footer .footer-inner > .title .link {
        float: none; }
        footer .footer-inner > .title .link a {
          display: block;
          float: left;
          padding: 10px 20px 10px 0;
          font-size: 14px;
          margin: 0; }
    footer .footer-inner .text address {
      font-size: 12px; }
    footer .footer-inner .text p {
      font-size: 12px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
li,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

a,
a:visited {
  text-decoration: none;
  color: #000; }

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif; }

.wrap::after {
  content: "";
  display: block;
  clear: both; }
