@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap");
header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
  text-transform: uppercase; }
  header .inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    header .inner h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      header .inner h1 a p {
        font-size: 48px;
        color: #fff;
        text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333; }
    header .inner .gnb {
      position: absolute;
      top: 40%;
      width: 100%; }
      header .inner .gnb > ul {
        position: absolute; }
        header .inner .gnb > ul > li {
          position: relative;
          float: left;
          padding: 0 50px 30px;
          cursor: pointer; }
          header .inner .gnb > ul > li a h2 {
            font-weight: normal; }
          header .inner .gnb > ul > li .sub-menu {
            position: absolute;
            top: 60px;
            overflow: hidden;
            width: 150px;
            height: 100px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #333;
            border-top: none;
            z-index: 2;
            display: none;
            transition: 0.5s; }
            header .inner .gnb > ul > li .sub-menu ul li a {
              color: #333; }
              header .inner .gnb > ul > li .sub-menu ul li a:hover {
                font-weight: bold; }
            header .inner .gnb > ul > li .sub-menu ul li:nth-of-type(1) {
              margin-bottom: 20px; }
          header .inner .gnb > ul > li:hover a h2 {
            font-weight: bold; }
          header .inner .gnb > ul > li:hover .sub-menu {
            display: block; }
        header .inner .gnb > ul:nth-of-type(2) {
          right: 0; }
    header .inner .btn-menu {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 20px;
      height: 20px;
      color: #333;
      display: none; }
      header .inner .btn-menu::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      header .inner .btn-menu.on::before {
        top: 50%;
        transform: rotate(45deg);
        margin-top: -1px; }
      header .inner .btn-menu.on::after {
        bottom: 50%;
        transform: rotate(-45deg);
        margin-bottom: -1px; }
      header .inner .btn-menu.on span {
        transform: translateX(100%);
        opacity: 0; }
    header .inner .menu-mobile {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100vh;
      background-color: #fff;
      z-index: 50;
      padding: 60px 30px;
      transition: 0.5s; }
      header .inner .menu-mobile > h1 {
        position: relative;
        top: 0;
        left: 0;
        font-size: 42px;
        color: #fff;
        text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333; }
      header .inner .menu-mobile ul li {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333; }
        header .inner .menu-mobile ul li a h2 {
          transition: 0.3s; }
        header .inner .menu-mobile ul li:hover a h2 {
          font-size: 24px; }
      header .inner .menu-mobile.on {
        left: 0; }

main {
  width: 100%; }
  main section {
    width: 100%; }
    main section.mainView {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden; }
      main section.mainView .img {
        position: absolute;
        top: 5px;
        right: 30px;
        width: 50%;
        height: auto; }
        main section.mainView .img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(95%); }
      main section.mainView .text {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 600px; }
        main section.mainView .text h1 {
          font-weight: bold;
          font-size: 112px;
          color: #fff;
          text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333;
          margin-bottom: 10px; }
        main section.mainView .text h2 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 32px;
          margin-bottom: 10px; }
        main section.mainView .text p {
          letter-spacing: -0.03em;
          font-size: 18px;
          line-height: 1.4;
          width: 500px;
          margin-bottom: 60px; }
        main section.mainView .text a {
          display: block;
          width: 200px;
          height: 60px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 12px;
          border: 1px solid #333;
          text-align: center;
          line-height: 60px;
          color: #333;
          transition: 0.4s; }
          main section.mainView .text a:hover {
            background-color: #333;
            color: #fff; }
    main section.newArrival {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333; }
      main section.newArrival .inner {
        width: 1180px;
        margin: 0 auto; }
        main section.newArrival .inner > h1 {
          font-size: 48px;
          font-weight: bold;
          text-transform: uppercase;
          color: #333;
          text-align: center; }
        main section.newArrival .inner .wrap {
          margin-top: 50px; }
          main section.newArrival .inner .wrap article {
            float: left;
            width: 380px;
            margin-right: 20px; }
            main section.newArrival .inner .wrap article:hover .img img {
              filter: saturate(100%); }
            main section.newArrival .inner .wrap article:nth-of-type(3) {
              margin-right: 0; }
            main section.newArrival .inner .wrap article .img img {
              width: 100%;
              height: 380px;
              object-fit: cover;
              transition: 0.4s;
              filter: saturate(0); }
            main section.newArrival .inner .wrap article .text {
              margin-top: 20px; }
              main section.newArrival .inner .wrap article .text h2 {
                font-size: 28px;
                text-transform: uppercase;
                margin-bottom: 10px; }
              main section.newArrival .inner .wrap article .text p {
                font-size: 18px;
                color: #333;
                margin-bottom: 20px;
                letter-spacing: -0.03em; }
              main section.newArrival .inner .wrap article .text a {
                text-transform: uppercase;
                display: block;
                width: 150px;
                height: 40px;
                border-radius: 100px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #333;
                color: #333;
                transition: 0.4s; }
                main section.newArrival .inner .wrap article .text a:hover {
                  background-color: #333;
                  color: #fff; }
                main section.newArrival .inner .wrap article .text a:active {
                  transform: scale(0.98); }
    main section.mySwiper {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: relative; }
      main section.mySwiper .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0; }
        main section.mySwiper .swiper-wrapper .swiper-slide::after {
          content: '';
          display: block;
          clear: both; }
        main section.mySwiper .swiper-wrapper .swiper-slide img {
          float: left;
          width: 100vw;
          height: 100%;
          object-fit: cover;
          filter: saturate(0); }
      main section.mySwiper .btns {
        position: absolute;
        top: 100px;
        right: 50px; }
        main section.mySwiper .btns button {
          width: 80px;
          height: 80px;
          background-color: transparent;
          border: 1px solid #fff;
          outline: none;
          border-radius: 50%;
          font-size: 30px;
          color: #fff;
          cursor: pointer; }
        main section.mySwiper .btns .prev {
          margin-right: 50px; }
    main section.category {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden; }
      main section.category .inner {
        width: 100%; }
        main section.category .inner a {
          width: 50%;
          height: calc(100vh / 3);
          float: left;
          position: relative;
          overflow: hidden; }
          main section.category .inner a img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s; }
            main section.category .inner a img:hover {
              transform: scale(1.04); }
          main section.category .inner a .text {
            position: absolute;
            bottom: 20px;
            left: 20px; }
            main section.category .inner a .text p {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 18px; }
          main section.category .inner a:nth-of-type(1), main section.category .inner a:nth-of-type(2) {
            border-top: 1px solid #333; }
          main section.category .inner a:nth-of-type(1), main section.category .inner a:nth-of-type(3) {
            border-right: 1px solid #333; }
          main section.category .inner a:nth-of-type(3), main section.category .inner a:nth-of-type(4) {
            border-top: 1px solid #333;
            border-bottom: 1px solid #333; }
          main section.category .inner a:nth-of-type(5) {
            width: 100%; }
      main section.category .cursor {
        position: absolute;
        width: 80px;
        height: 80px;
        font-size: 18px;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        color: #333;
        border-radius: 50%;
        border: 1px solid #333;
        z-index: 1000;
        pointer-events: none;
        transform: translateX(-50%); }
    main section.main-join {
      width: 100%;
      height: 50vh;
      position: relative;
      overflow: hidden; }
      main section.main-join a {
        width: 100%; }
        main section.main-join a img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%);
          transition: 1s; }
      main section.main-join:hover a img {
        transform: scale(1.02); }
      main section.main-join .inner {
        position: absolute;
        top: 100px;
        left: 300px;
        width: 1180px;
        margin: 0 auto; }
        main section.main-join .inner h1 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 42px;
          color: #fff;
          margin-bottom: 20px;
          transition: 0.4s; }
        main section.main-join .inner a {
          display: block;
          width: 150px;
          height: 40px;
          background-color: #fff;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          color: #333;
          border-radius: 100px; }
    main section.location {
      width: 100%;
      height: 80vh; }
      main section.location::after {
        content: '';
        display: block;
        clear: both; }
      main section.location .location-tab {
        float: left;
        width: 30%;
        height: 100%; }
        main section.location .location-tab h1 {
          height: 60%;
          font-size: 3vw;
          font-weight: bold;
          text-transform: uppercase;
          padding: 50px 40px; }
        main section.location .location-tab ul {
          height: 40%; }
          main section.location .location-tab ul li {
            width: 100%;
            height: calc(100% / 3);
            border-top: 1px solid #333;
            padding: 0 20px; }
            main section.location .location-tab ul li a {
              padding: 30px 0;
              color: #333;
              font-weight: bold;
              font-size: 32px;
              display: block; }
            main section.location .location-tab ul li.on {
              background-color: #333; }
              main section.location .location-tab ul li.on a {
                color: #fff; }
      main section.location .location-map {
        float: right;
        width: 70%;
        height: 80vh;
        border-left: 1px solid #333; }
        main section.location .location-map .location-map-list {
          width: 100%;
          height: 100%;
          background-color: orange;
          position: relative; }
          main section.location .location-map .location-map-list li {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: blue;
            z-index: 1;
            opacity: 0; }
            main section.location .location-map .location-map-list li.on {
              z-index: 3;
              opacity: 1; }

.scrollBtns {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 100; }
  .scrollBtns ul li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s; }
    .scrollBtns ul li.on {
      height: 100px;
      border-radius: 100px;
      background-color: #333; }

.moveTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: 1s; }
  .moveTop i {
    font-size: 22px;
    line-height: 50px; }
  .moveTop .on {
    opacity: 1; }

@media screen and (max-width: 1179px) {
  main {
    width: 100%; }
    main section {
      width: 100%; }
      main section.mainView {
        width: 100%;
        height: 100vh;
        position: relative; }
        main section.mainView .img {
          position: absolute;
          top: 5px;
          right: 0px;
          left: 0;
          width: 1180px; }
          main section.mainView .img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(95%); }
        main section.mainView .text {
          top: 70%; }
          main section.mainView .text h1 {
            font-size: 72px; }
          main section.mainView .text h2 {
            display: inline-block;
            font-size: 18px;
            background-color: #fff; }
          main section.mainView .text p {
            font-size: 14px;
            line-height: 1;
            width: 300px;
            color: #fff;
            margin-bottom: 0; }
          main section.mainView .text a {
            margin-top: 20px;
            width: 300px;
            height: 40px;
            font-size: 12px;
            border: 1px solid #fff;
            color: #fff;
            line-height: 40px; }
            main section.mainView .text a:hover {
              background-color: #fff;
              color: #333; }
      main section.newArrival {
        padding: 70px 10px; }
        main section.newArrival .inner {
          width: 100%;
          margin: 0 auto; }
          main section.newArrival .inner > h1 {
            font-size: 38px;
            font-weight: bold;
            text-transform: uppercase;
            color: #333;
            text-align: center; }
          main section.newArrival .inner .wrap {
            display: flex;
            justify-content: space-around; }
            main section.newArrival .inner .wrap article {
              float: left;
              width: 280px; }
              main section.newArrival .inner .wrap article .img img {
                width: 100%;
                height: 280px; }
              main section.newArrival .inner .wrap article .text h2 {
                font-size: 22px; }
              main section.newArrival .inner .wrap article .text p {
                font-size: 16px; }
              main section.newArrival .inner .wrap article .text a {
                width: 100%;
                font-size: 14px; }
      main section.mainGallery {
        width: 100%;
        overflow: hidden;
        position: relative; }
        main section.mainGallery .images {
          width: 100%;
          height: 100vh; }
          main section.mainGallery .images::after {
            content: '';
            display: block;
            clear: both; }
          main section.mainGallery .images img {
            float: left;
            width: 100vw;
            height: 100%;
            object-fit: cover;
            filter: saturate(0); }
        main section.mainGallery .btns button {
          width: 60px;
          height: 60px; }
        main section.mainGallery .btns .prev {
          margin-right: 20px; }
      main section.category .inner {
        width: 100%; }
        main section.category .inner a .text {
          font-size: 26px; }
      main section.main-join {
        height: 100vh; }
        main section.main-join .inner {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          main section.main-join .inner h1 {
            font-size: 52px;
            text-align: center; }
      main section.location {
        width: 100%;
        height: 80vh; }
        main section.location::after {
          content: '';
          display: block;
          clear: both; }
        main section.location .location-tab {
          float: left;
          width: 30%;
          height: 100%; }
          main section.location .location-tab h1 {
            height: 60%;
            font-size: 3vw;
            font-weight: bold;
            text-transform: uppercase;
            padding: 50px 40px; }
          main section.location .location-tab ul {
            height: 40%; }
            main section.location .location-tab ul li {
              width: 100%;
              height: calc(100% / 3);
              border-top: 1px solid #333;
              padding: 0 20px; }
              main section.location .location-tab ul li a {
                padding: 0;
                height: 100%;
                padding: 40px 0;
                color: #333;
                font-weight: bold;
                font-size: 18px;
                display: block; }
              main section.location .location-tab ul li.on {
                background-color: #333; }
                main section.location .location-tab ul li.on a {
                  color: #fff; }
        main section.location .location-map {
          float: right;
          width: 70%;
          height: 80vh;
          border-left: 1px solid #333; }
          main section.location .location-map .location-map-list {
            width: 100%;
            height: 100%;
            background-color: orange;
            position: relative; }
            main section.location .location-map .location-map-list li {
              width: 100%;
              height: 100%;
              position: absolute;
              bottom: 0;
              right: 0;
              background-color: blue;
              z-index: 1;
              opacity: 0; }
              main section.location .location-map .location-map-list li.on {
                z-index: 3;
                opacity: 1; } }

@media screen and (max-width: 539px) {
  main {
    width: 100%; }
    main section {
      width: 100%; }
      main section.newArrival .inner {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px; }
        main section.newArrival .inner > h1 {
          font-size: 32px; }
        main section.newArrival .inner .wrap {
          margin-top: 100px;
          display: flex;
          flex-direction: column; }
          main section.newArrival .inner .wrap article {
            width: 100%;
            margin-bottom: 20px; }
            main section.newArrival .inner .wrap article .img {
              width: 100%;
              height: 100px; }
              main section.newArrival .inner .wrap article .img img {
                width: 100%;
                height: 100%; }
            main section.newArrival .inner .wrap article .text h2 {
              font-size: 18px; }
            main section.newArrival .inner .wrap article .text p {
              font-size: 12px;
              margin-bottom: 10px; }
            main section.newArrival .inner .wrap article .text a {
              width: 100px;
              font-size: 12px; }
              main section.newArrival .inner .wrap article .text a:hover {
                background-color: #333;
                color: #fff; }
      main section.mainGallery {
        width: 100%;
        overflow: hidden;
        position: relative; }
        main section.mainGallery .images {
          width: 100%;
          height: 100vh; }
          main section.mainGallery .images::after {
            content: '';
            display: block;
            clear: both; }
          main section.mainGallery .images img {
            float: left;
            width: 100vw;
            height: 100%;
            object-fit: cover;
            filter: saturate(0); }
        main section.mainGallery .btns {
          top: 50px;
          transform: none; }
          main section.mainGallery .btns button {
            width: 50px;
            height: 50px;
            font-size: 20px; }
            main section.mainGallery .btns button.prev {
              left: 50%;
              transform: translateX(-50%); }
      main section.category .inner {
        width: 100%; }
        main section.category .inner a .text {
          font-size: 26px; }
      main section.main-join {
        height: 100vh; }
        main section.main-join .inner {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          main section.main-join .inner h1 {
            font-size: 52px;
            text-align: center; } }

#cookie {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; }
  #cookie .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #333;
    position: relative;
    padding: 30px;
    text-align: center; }
    #cookie .content h1 {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px; }
    #cookie .content img {
      width: 200px;
      height: auto;
      object-fit: cover;
      transform: translateX(-10px);
      margin-bottom: 30px; }
    #cookie .content p {
      font-size: 14px;
      margin-bottom: 40px; }
    #cookie .content a {
      background-color: #fff;
      padding: 10px 20px;
      border: 1px solid #333;
      font-weight: bold;
      border-radius: 100px;
      transition: 0.2s; }
      #cookie .content a:hover {
        background-color: #333;
        color: #fff; }
    #cookie .content .close ul li {
      float: left;
      position: absolute;
      bottom: 0; }
      #cookie .content .close ul li input {
        width: 14px;
        height: 14px;
        margin-right: 10px; }
      #cookie .content .close ul li label {
        font-size: 14px; }
      #cookie .content .close ul li button {
        display: inline-block;
        width: 100%;
        height: 40px;
        transform: translateY(-1px);
        background-color: transparent;
        border: none; }
      #cookie .content .close ul li:nth-of-type(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-right: 1px solid #333;
        border-top: 1px solid #333;
        left: 0; }
      #cookie .content .close ul li:nth-of-type(2) {
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-top: 1px solid #333;
        right: 0; }

#skipNavi {
  position: fixed;
  top: 0;
  left: 0; }
  #skipNavi ul li {
    position: absolute;
    width: 200px;
    padding: 20px 10px; }
    #skipNavi ul li a {
      color: #333;
      font-weight: bold;
      opacity: 0; }
      #skipNavi ul li a.on {
        opacity: 1; }

.content {
  width: 100%;
  color: #333;
  position: relative; }
  .content > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #333;
    filter: saturate(0); }
  .content > h1 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.04em;
    font-size: 48px; }
  .content .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 40px 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333; }
    .content .inner > .title {
      margin-bottom: 100px; }
      .content .inner > .title h1 {
        text-transform: uppercase;
        font-size: 64px;
        margin-bottom: 30px;
        transition: 0.4s; }
        .content .inner > .title h1::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #333;
          margin-top: 20px;
          animation: ani cubic-bezier(0.55, 0, 0.46, 1.01) 2s forwards; }

@keyframes ani {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
      .content .inner > .title p {
        color: #333;
        font-size: 18px;
        line-height: 1.4; }
    .content .inner .con {
      width: 100%;
      margin-bottom: 200px;
      margin: 0 auto; }
      .content .inner .con .con-title {
        font-size: 40px;
        text-transform: uppercase;
        position: relative;
        background-color: #fff;
        margin-bottom: 50px; }
        .content .inner .con .con-title::before {
          content: "";
          display: block;
          width: 80%;
          height: 1px;
          background-color: #333;
          position: absolute;
          top: 50%;
          right: 0; }

@media screen and (max-width: 1179px) {
  .content > h1 {
    font-size: 48px; }
  .content .inner {
    width: 100%; }
    .content .inner > .title {
      margin-bottom: 100px; }
      .content .inner > .title h1 {
        font-size: 48px; }
      .content .inner > .title p {
        font-size: 16px; }
    .content .inner .con .con-title {
      font-size: 28px; }
      .content .inner .con .con-title::before {
        width: 40%; } }

@media screen and (max-width: 539px) {
  .content > h1 {
    font-size: 36px; }
  .content .inner > .title {
    margin-bottom: 100px; }
    .content .inner > .title h1 {
      font-size: 28px; }
    .content .inner > .title p {
      font-size: 12px; }
  .content .inner .con .con-title {
    font-size: 28px; } }

.about-identity {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333; }
  .about-identity:nth-of-type(3) {
    border-bottom: none; }
  .about-identity > .title {
    float: left;
    width: 30%;
    transition: 0.5s; }
  .about-identity > .text {
    float: left;
    width: 35%;
    transition: 0.5s; }
  .about-identity > .img {
    float: right;
    width: 35%;
    transition: 0.5s; }
    .about-identity > .img img {
      width: 400px;
      height: 200px;
      object-fit: cover;
      filter: saturate(0); }

.about-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; }
  .about-history .history-circle {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    margin-bottom: 50px; }
    .about-history .history-circle::before {
      content: "";
      display: block;
      width: 1px;
      height: 900px;
      background-color: #333;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
  .about-history > ul > li {
    text-align: right;
    transform: translateX(-150px);
    margin-bottom: 100px; }
    .about-history > ul > li > ul li {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      font-size: 18px; }
      .about-history > ul > li > ul li div {
        display: flex;
        align-items: center; }
        .about-history > ul > li > ul li div strong {
          order: 2;
          margin: 0 20px;
          font-size: 24px; }
    .about-history > ul > li:nth-of-type(2) {
      text-align: left;
      transform: translateX(150px); }
      .about-history > ul > li:nth-of-type(2) ul li strong {
        order: -1; }
    .about-history > ul > li > p {
      font-size: 48px;
      font-weight: 700; }
      .about-history > ul > li > p::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #333;
        margin: 20px 0; }

@media screen and (max-width: 1179px) {
  .about-identity > .title {
    width: 100%;
    margin-bottom: 20px; }
  .about-identity > .text {
    width: 100%;
    margin-bottom: 20px; }
  .about-identity > .img {
    width: 100%; }
    .about-identity > .img img {
      width: 100%;
      height: 300px; }
  .about-history {
    justify-content: flex-start;
    align-items: flex-start; }
    .about-history .history-circle {
      display: none; }
    .about-history > ul > li {
      text-align: left;
      transform: none;
      margin-bottom: 100px; }
      .about-history > ul > li > ul li {
        flex-direction: row; }
        .about-history > ul > li > ul li div {
          display: flex;
          align-items: center; }
          .about-history > ul > li > ul li div strong {
            order: 0;
            margin: 0;
            margin-right: 10px;
            font-size: 24px; }
          .about-history > ul > li > ul li div p {
            margin-right: 20px; }
      .about-history > ul > li:nth-of-type(2) {
        transform: none; } }

@media screen and (max-width: 539px) {
  .about-identity > .text p {
    font-size: 14px; }
  .about-history > ul {
    width: 100%; }
    .about-history > ul > li {
      width: 100%; }
      .about-history > ul > li > p {
        display: inline-block;
        width: 100%; }
      .about-history > ul > li > ul li {
        display: flex;
        flex-direction: column; }
        .about-history > ul > li > ul li div {
          width: 100%; }
          .about-history > ul > li > ul li div strong {
            order: 0;
            margin: 0;
            margin-right: 10px;
            font-size: 18px; }
          .about-history > ul > li > ul li div p {
            font-size: 14px; }
      .about-history > ul > li:nth-of-type(2) {
        transform: none; } }

.faq-board {
  width: 100%; }
  .faq-board table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse; }
    .faq-board table tr {
      height: 60px;
      text-align: center; }
      .faq-board table tr:not(:nth-of-type(1)) {
        transition: 0.2s; }
        .faq-board table tr:not(:nth-of-type(1)):hover {
          background-color: #333;
          color: #fff; }
          .faq-board table tr:not(:nth-of-type(1)):hover a {
            color: #fff; }
      .faq-board table tr td:nth-of-type(3) {
        text-align: left;
        padding-left: 10px; }
      .faq-board table tr th,
      .faq-board table tr td {
        border-bottom: 1px solid #333;
        padding: 10px; }

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px; }
  .pagination > a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #333;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    line-height: 30px;
    text-align: center; }
    .pagination > a:hover {
      background-color: #333;
      color: #fff; }
  .pagination ul {
    display: flex; }
    .pagination ul li {
      width: 50px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: 0 10px;
      transition: 0.3s; }
      .pagination ul li:hover {
        background-color: #333; }
        .pagination ul li:hover a {
          color: #fff; }
      .pagination ul li a {
        display: block;
        width: 100%;
        height: 100%;
        transform: translateY(1px); }

@media screen and (max-width: 1179px) {
  .faq-board table tr td {
    font-size: 14px; }
  .faq-board table tr th:nth-of-type(1),
  .faq-board table tr td:nth-of-type(1) {
    display: none; }
  .pagination {
    width: 100%;
    margin-top: 20px; }
    .pagination > a {
      display: block;
      width: 30px;
      height: 30px; }
    .pagination ul li {
      width: 20px;
      height: 30px;
      line-height: 30px; } }

@media screen and (max-width: 539px) {
  .faq-board table tr td {
    font-size: 14px; }
    .faq-board table tr td:nth-of-type(2) {
      width: 10%; }
    .faq-board table tr td:nth-of-type(3) {
      width: 90%; }
  .faq-board table tr th:nth-of-type(4),
  .faq-board table tr td:nth-of-type(4) {
    display: none; }
  .pagination {
    width: 100%; }
    .pagination > a:hover {
      background-color: #333;
      color: #fff; }
    .pagination ul {
      display: none; } }

.joinPage .inner .join .join-terms {
  margin-bottom: 100px; }
  .joinPage .inner .join .join-terms textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 20px;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px; }
  .joinPage .inner .join .join-terms .checkbox {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .joinPage .inner .join .join-terms .checkbox input {
      margin-right: 20px;
      width: 20px;
      height: 20px; }
    .joinPage .inner .join .join-terms .checkbox label {
      font-size: 18px; }

.joinPage .inner .join .join-info .con-title::before {
  width: 70%; }

.joinPage .inner .join .join-info fieldset {
  border: none; }

.joinPage .inner .join .join-info table {
  width: 100%; }
  .joinPage .inner .join .join-info table tr th {
    width: 30%;
    text-transform: uppercase;
    padding: 20px; }
  .joinPage .inner .join .join-info table tr td.funnels {
    display: flex;
    align-items: center;
    padding: 20px 0px; }
  .joinPage .inner .join .join-info table tr td [type="text"],
  .joinPage .inner .join .join-info table tr td [type="password"] {
    padding: 20px 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dcdcdc; }
  .joinPage .inner .join .join-info table tr td [type="date"] {
    width: 40%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #dcdcdc; }
  .joinPage .inner .join .join-info table tr td input {
    margin-left: 20px; }
  .joinPage .inner .join .join-info table tr td label {
    text-transform: uppercase;
    margin-left: 20px; }
  .joinPage .inner .join .join-info table tr td textarea {
    width: 100%;
    height: 60px;
    padding: 20px;
    resize: none;
    border: none;
    border-bottom: 1px solid #dcdcdc; }
  .joinPage .inner .join .join-info table tr td input:active, .joinPage .inner .join .join-info table tr td input:focus,
  .joinPage .inner .join .join-info table tr td textarea:active,
  .joinPage .inner .join .join-info table tr td textarea:focus {
    outline: none; }
  .joinPage .inner .join .join-info table tr:last-child td {
    width: 100%;
    padding: 20px;
    text-align: center; }
    .joinPage .inner .join .join-info table tr:last-child td input {
      margin-top: 30px;
      margin-right: 20px;
      width: 150px;
      height: 40px;
      border: 1px solid #333;
      background-color: #fff;
      line-height: 40px;
      text-transform: uppercase;
      font-size: 16px;
      cursor: pointer; }
      .joinPage .inner .join .join-info table tr:last-child td input:last-of-type {
        background-color: #333;
        color: #fff; }
  .joinPage .inner .join .join-info table tr p {
    color: #ff6666;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px; }

@media screen and (max-width: 1179px) {
  .joinPage .inner .join .join-terms {
    margin-bottom: 70px; }
    .joinPage .inner .join .join-terms .checkbox input {
      margin-right: 10px;
      width: 15px;
      height: 15px; }
    .joinPage .inner .join .join-terms .checkbox label {
      font-size: 16px; }
  .joinPage .inner .join .join-info .con-title::before {
    width: 40%; }
  .joinPage .inner .join .join-info table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; }
    .joinPage .inner .join .join-info table tr th {
      text-align: left; } }

@media screen and (max-width: 539px) {
  .joinPage .inner .join .join-terms .checkbox label {
    font-size: 14px; }
  .joinPage .inner .join .join-info table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; }
    .joinPage .inner .join .join-info table tr th {
      text-align: left; }
    .joinPage .inner .join .join-info table tr td [type="date"] {
      width: 100%; }
    .joinPage .inner .join .join-info table tr td.funnels {
      display: block;
      padding: 0; }
      .joinPage .inner .join .join-info table tr td.funnels div {
        display: flex;
        margin-bottom: 10px; }
    .joinPage .inner .join .join-info table tr td [for="sns"],
    .joinPage .inner .join .join-info table tr td [for="search"],
    .joinPage .inner .join .join-info table tr td [for="etc"] {
      display: block; } }

.member {
  width: 360px;
  float: left;
  margin-right: 20px;
  margin-bottom: 50px; }
  .member:nth-of-type(3), .member:nth-of-type(6) {
    margin-right: 0; }
  .member h2 {
    font-size: 28px; }
  .member img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 20px 0;
    margin: 20px 0;
    filter: saturate(0);
    transition: 0.4s; }
    .member img:hover {
      filter: none; }
  .member address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.5; }

@media screen and (max-width: 1179px) {
  .member {
    width: calc(100% / 2 - 10px);
    margin-right: 0px; }
    .member:nth-of-type(odd) {
      margin-right: 20px; }
    .member img {
      width: 100%; }
    .member address {
      font-size: 14px; } }

@media screen and (max-width: 539px) {
  .member {
    width: 100%; }
    .member:nth-of-type(odd) {
      margin-right: 0px; } }

.video-content.con {
  width: 100%; }
  .video-content.con::after {
    content: "";
    display: block;
    clear: both; }
  .video-content.con article {
    width: calc(100% / 2 - 10px);
    height: 300px;
    margin-bottom: 20px;
    float: left;
    position: relative;
    overflow: hidden; }
    .video-content.con article:nth-of-type(odd) {
      margin-right: 20px; }
    .video-content.con article .vid {
      width: 100%;
      height: 60%; }
      .video-content.con article .vid > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: 0.5s; }
    .video-content.con article .vid-con {
      position: absolute;
      top: -100%;
      left: 10px;
      width: 100%;
      transition: 0.4s; }
      .video-content.con article .vid-con h2 {
        font-weight: bold;
        font-size: 18px;
        color: #fff; }
    .video-content.con article .vid-playIcon div {
      position: absolute;
      bottom: -100px;
      right: 10px;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      text-align: center;
      transition: 0.5s; }
      .video-content.con article .vid-playIcon div i {
        font-size: 18px;
        line-height: 50px; }
    .video-content.con article:hover .vid img {
      filter: none; }
    .video-content.con article:hover .vid-con {
      top: 10px; }
    .video-content.con article:hover .vid-playIcon div {
      bottom: 10px; }

figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); }
  figure.pop span {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer; }

@media screen and (max-width: 1179px) {
  .youtube .inner {
    width: 100%; }
    .youtube .inner .title h1 {
      font-size: 42px; }
    .youtube .inner .video-content.con article {
      width: 100%;
      height: 300px;
      margin-bottom: 40px; }
      .youtube .inner .video-content.con article:nth-of-type(odd) {
        margin-right: 0px; } }

.shop .shop-menu {
  margin-bottom: 100px; }
  .shop .shop-menu ul {
    display: flex;
    margin-top: -50px; }
    .shop .shop-menu ul li {
      margin-right: 100px;
      transition: 0.3s; }
      .shop .shop-menu ul li a {
        font-size: 22px;
        font-weight: bold;
        color: #777; }
      .shop .shop-menu ul li.on {
        border-bottom: 2px solid #999; }
        .shop .shop-menu ul li.on a {
          color: #333; }
      .shop .shop-menu ul li:hover a {
        color: #555; }

.shop .product {
  width: 100%;
  background-color: #333; }
  .shop .product article {
    position: relative;
    width: 33.333%;
    height: 400px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #333; }
    .shop .product article img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      margin-bottom: 10px; }
    .shop .product article .info .text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px; }
    .shop .product article .btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .shop .product article .btn a {
        display: block;
        width: 120px;
        height: 40px;
        background-color: red;
        margin-bottom: 20px;
        border-radius: 100px;
        line-height: 40px;
        text-align: center; }

.gallery .inner .title {
  position: relative; }
  .gallery .inner .title .search-box {
    position: absolute;
    bottom: 30px;
    right: 0;
    transition: 0.5s; }
    .gallery .inner .title .search-box p {
      color: #ff6666;
      font-size: 13px;
      margin-left: 10px; }
    .gallery .inner .title .search-box input {
      width: 0px;
      padding: 10px;
      border: none;
      right: 0;
      transition: 0.8s; }
      .gallery .inner .title .search-box input:focus, .gallery .inner .title .search-box input:active {
        outline: none;
        border-bottom: 1px solid #333; }
    .gallery .inner .title .search-box button {
      padding: 10px;
      border: none;
      background-color: #fff; }
      .gallery .inner .title .search-box button i {
        font-size: 18px;
        color: #666; }

.gallery .inner::after {
  content: "";
  display: block;
  clear: both; }

.gallery .inner .img-list {
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s; }
  .gallery .inner .img-list.on {
    opacity: 1;
    transform: none; }
  .gallery .inner .img-list::after {
    content: "";
    display: block;
    clear: both; }
  .gallery .inner .img-list li {
    width: calc(100% / 4);
    float: left;
    padding: 0 3px; }
    .gallery .inner .img-list li .img-con {
      position: relative;
      width: 100%;
      border-radius: 5px;
      cursor: pointer; }
      .gallery .inner .img-list li .img-con a img {
        width: 100%;
        filter: grayscale(100%);
        transition: 0.4s; }
      .gallery .inner .img-list li .img-con .img-author {
        position: absolute;
        bottom: 30px;
        left: 10px;
        opacity: 0;
        transition: 0.6s;
        display: flex;
        flex-flow: column; }
        .gallery .inner .img-list li .img-con .img-author span {
          color: #fff;
          font-size: 12px; }
        .gallery .inner .img-list li .img-con .img-author p {
          font-weight: bold;
          font-size: 14px;
          text-transform: capitalize;
          color: #fff;
          margin: 10px 0; }
        .gallery .inner .img-list li .img-con .img-author img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border: 2px solid #fff;
          border-radius: 50%;
          filter: grayscale(100%); }
    .gallery .inner .img-list li:hover div a img {
      filter: grayscale(0); }
    .gallery .inner .img-list li:hover .img-author {
      opacity: 1; }

#loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s; }
  #loading .bar-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 100px; }
    #loading .bar-wrap span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 100px;
      background-color: #fff;
      transition: 0.4s; }

.pop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }
  .pop span {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer; }
    .pop span i {
      color: #fff;
      font-size: 32px; }

@media screen and (max-width: 1179px) {
  .gallery .inner {
    width: 100%; } }

@media screen and (max-width: 800px) {
  .gallery .inner .img-list li {
    width: calc(100% / 3); }
    .gallery .inner .img-list li .img-con .img-author span {
      font-size: 12px; }
    .gallery .inner .img-list li .img-con .img-author p {
      font-size: 8px;
      margin: 3px 0; }
    .gallery .inner .img-list li .img-con .img-author img {
      width: 20px;
      height: 20px; } }

@media screen and (max-width: 500px) {
  .gallery .inner .title .search-box {
    bottom: -70px; }
  .gallery .inner .img-list li {
    width: calc(100% / 2); } }

@media screen and (max-width: 539px) {
  .gallery .inner .img-list li {
    width: calc(100%); }
    .gallery .inner .img-list li .img-con .img-author span {
      font-size: 14px; }
    .gallery .inner .img-list li .img-con .img-author p {
      font-size: 18px;
      margin: 12px 0; }
    .gallery .inner .img-list li .img-con .img-author img {
      width: 20px;
      height: 20px; } }

.location .inner .con {
  width: 100%; }
  .location .inner .con .store {
    width: 100%;
    margin-bottom: 100px; }
    .location .inner .con .store::after {
      content: "";
      display: block;
      clear: both; }
    .location .inner .con .store .map {
      float: left;
      width: 60%;
      height: 400px;
      background-color: yellow;
      margin-right: 2%; }
    .location .inner .con .store .location-con {
      float: right;
      width: 38%;
      margin: 20px 0; }
      .location .inner .con .store .location-con h2 {
        font-size: 32px;
        margin-bottom: 40px;
        color: #333; }
      .location .inner .con .store .location-con li {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 30px;
        margin-bottom: 30px; }
        .location .inner .con .store .location-con li:last-child {
          border: none; }
        .location .inner .con .store .location-con li::after {
          content: "";
          display: block;
          clear: both; }
        .location .inner .con .store .location-con li i {
          float: left;
          margin-right: 20px; }
        .location .inner .con .store .location-con li p {
          color: #333; }

@media screen and (max-width: 1179px) {
  .location .inner {
    width: 100%; }
    .location .inner .con .store {
      margin-bottom: 80px; }
      .location .inner .con .store .map {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; }
      .location .inner .con .store .location-con {
        width: 100%;
        margin: 0; }
        .location .inner .con .store .location-con h2 {
          font-size: 6vmax;
          margin-bottom: 20px; }
        .location .inner .con .store .location-con li {
          padding-bottom: 20px;
          margin-bottom: 20px; }
          .location .inner .con .store .location-con li p {
            font-size: 14px; } }

@media screen and (max-width: 539px) {
  .location .inner .title h1 {
    font-size: 42px; }
  .location .inner .con .store {
    margin-bottom: 40px; }
    .location .inner .con .store .location-con {
      width: 100%;
      margin: 0; }
      .location .inner .con .store .location-con h2 {
        font-size: 22px;
        margin-bottom: 20px; }
      .location .inner .con .store .location-con li {
        padding-bottom: 20px;
        margin-bottom: 20px; }
        .location .inner .con .store .location-con li p {
          font-size: 14px; } }

footer {
  width: 100%;
  background-color: #333;
  color: #333; }
  footer .footer-inner {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    color: #fff; }
    footer .footer-inner > .title {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff; }
      footer .footer-inner > .title > h1 {
        float: left;
        text-transform: uppercase; }
      footer .footer-inner > .title .link {
        float: right; }
        footer .footer-inner > .title .link a {
          display: block;
          float: left;
          padding: 10px 30px;
          color: #fff; }
    footer .footer-inner .text address {
      font-style: normal;
      margin-bottom: 10px; }

@media screen and (max-width: 1179px) {
  header .inner {
    width: 100%; }
    header .inner h1 a p {
      font-size: 32px; }
    header .inner .gnb > ul > li {
      padding: 0 60px 40px; }
      header .inner .gnb > ul > li a h2 {
        font-size: 18px; }
    header .inner .btn-menu {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 20px;
      height: 20px;
      color: #333;
      display: none; }
      header .inner .btn-menu::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s; }
      header .inner .btn-menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      header .inner .btn-menu.on::before {
        top: 50%;
        transform: rotate(45deg);
        margin-top: -1px; }
      header .inner .btn-menu.on::after {
        bottom: 50%;
        transform: rotate(-45deg);
        margin-bottom: -1px; }
      header .inner .btn-menu.on span {
        transform: translateX(100%);
        opacity: 0; }
    header .inner .menu-mobile > h1 {
      left: 120px;
      font-size: 32px;
      margin-bottom: 30px; }
    header .inner .menu-mobile ul li {
      margin-bottom: 20px;
      padding-bottom: 20px; } }

@media screen and (max-width: 900px) {
  header .inner .gnb {
    display: none; }
  header .inner .btn-menu {
    display: block; } }

@media screen and (max-width: 639px) {
  footer .footer-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #fff; }
    footer .footer-inner > .title > h1 {
      float: none;
      margin-right: 20px;
      font-size: 20px;
      margin-bottom: 10px; }
    footer .footer-inner > .title .link {
      float: none; }
      footer .footer-inner > .title .link a {
        padding: 10px 10px 10px 0;
        font-size: 14px; }
    footer .footer-inner .text address {
      font-size: 12px; }
    footer .footer-inner .text p {
      font-size: 12px; } }

@media screen and (max-width: 539px) {
  .content > h1 {
    font-size: 2vmax; }
  .content .inner .title p {
    font-size: 16px; }
  .content .inner .con .con-title {
    font-size: 24px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
li,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

a,
a:visited {
  text-decoration: none;
  color: #000; }

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif; }

button,
input {
  font-family: "Montserrat", sans-serif; }

.wrap::after {
  content: "";
  display: block;
  clear: both; }

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -999999px;
  opacity: 0;
  overflow: hidden; }
