.location .con {
  width: 100%;

  .store {
    width: 100%;

    margin-bottom: 100px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .map {
      float: left;
      width: 60%;
      height: 400px;
      background-color: yellow;
      margin-right: 2%;
    }

    .location-con {
      float: right;
      width: 38%;
      margin: 20px 0;

      h2 {
        font-size: 32px;
        margin-bottom: 40px;
        color: #333;
      }

      li {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 30px;
        margin-bottom: 30px;

        &:last-child {
          border: none;
        }
        &::after {
          content: "";
          display: block;
          clear: both;
        }
        i {
          float: left;
          margin-right: 20px;
        }

        p {
          color: #333;
        }
      }
    }
  }
}
