.member {
  width: 360px;
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
  &:nth-of-type(3),
  &:nth-of-type(6) {
    margin-right: 0;
  }

  h2 {
    font-size: 28px;
  }

  img {
    width: 360px;
    height: 360px;
    object-fit: cover;

    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 20px 0;
    margin: 20px 0;
    filter: saturate(0);
    transition: 0.4s;

    &:hover {
      filter: none;
    }
  }

  address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
  }
}
