.video-content.con {
  width: 100%;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  article {
    width: calc(100% / 2 - 10px);
    height: 300px;
    margin-bottom: 20px;
    float: left;
    position: relative;
    overflow: hidden;

    &:nth-of-type(odd) {
      margin-right: 20px;
    }

    .vid {
      width: 100%;
      height: 60%;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: 0.5s;
      }
    }

    .vid-con {
      position: absolute;
      top: -100%;
      left: 10px;
      width: 100%;

      transition: 0.4s;
      h2 {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
      }
    }

    .vid-playIcon {
      div {
        position: absolute;
        bottom: -100px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        text-align: center;
        transition: 0.5s;

        i {
          font-size: 18px;
          line-height: 50px;
        }
      }
    }

    &:hover {
      .vid img {
        filter: none;
      }

      .vid-con {
        top: 10px;
      }

      .vid-playIcon div {
        bottom: 10px;
      }
    }
  }
}

figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);

  span {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (max-width: $tablet) {
  .youtube {
    .inner {
      width: 100%;

      .title h1 {
        font-size: 42px;
      }

      .video-content.con {
        article {
          width: 100%;
          height: 300px;
          margin-bottom: 40px;

          &:nth-of-type(odd) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
