.content {
  width: 100%;
  color: #333;
  position: relative;

  > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #333;
    filter: saturate(0);
  }

  > h1 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.04em;
    font-size: 48px;
  }

  .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 40px 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;

    > .title {
      margin-bottom: 100px;
      h1 {
        text-transform: uppercase;
        font-size: 64px;
        margin-bottom: 30px;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #333;
          margin-top: 20px;
          animation: ani cubic-bezier(0.55, 0, 0.46, 1.01) 2s forwards;
        }

        @keyframes ani {
          0% {
            width: 0%;
          }
          100% {
            width: 100%;
          }
        }
      }

      p {
        color: #333;
        font-size: 18px;
        line-height: 1.4;
      }
    }

    .con {
      width: 100%;
      margin-bottom: 200px;
      margin: 0 auto;

      .con-title {
        font-size: 40px;
        text-transform: uppercase;
        position: relative;
        background-color: #fff;
        margin-bottom: 50px;

        &::before {
          content: "";
          display: block;
          width: 80%;
          height: 1px;
          background-color: #333;
          position: absolute;
          top: 50%;
          right: 0;
        }
      }

      .about-identity {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #333;

        &:nth-of-type(3) {
          border-bottom: none;
        }

        > .title {
          float: left;
          width: 30%;
        }

        > .text {
          float: left;
          width: 35%;
        }

        > .img {
          float: right;
          width: 35%;

          img {
            width: 400px;
            height: 200px;
            object-fit: cover;
            filter: saturate(0);
          }
        }
      }

      .about-history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        .history-circle {
          width: 50px;
          height: 50px;
          background-color: #333;
          border-radius: 50%;
          position: relative;
          margin-bottom: 50px;

          &::before {
            content: "";
            display: block;
            width: 1px;
            height: 900px;
            background-color: #333;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        > ul {
          > li {
            text-align: right;
            transform: translateX(-150px);
            margin-bottom: 100px;

            > ul {
              li {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                font-size: 18px;

                div {
                  display: flex;
                  align-items: center;
                  strong {
                    order: 2;
                    margin: 0 20px;
                    font-size: 24px;
                  }
                }
              }
            }

            &:nth-of-type(2) {
              text-align: left;
              transform: translateX(150px);

              ul {
                li {
                  strong {
                    order: -1;
                  }
                }
              }
            }

            > p {
              font-size: 48px;
              font-weight: 700;

              &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #333;
                margin: 20px 0;
              }
            }
          }
        }
      }

      .member {
        width: 360px;
        float: left;
        margin-right: 20px;
        margin-bottom: 50px;
        &:nth-of-type(3),
        &:nth-of-type(6) {
          margin-right: 0;
        }

        h2 {
          font-size: 28px;
        }

        img {
          width: 360px;
          height: 360px;
          object-fit: cover;

          border-top: 1px solid #333;
          border-bottom: 1px solid #333;
          padding: 20px 0;
          margin: 20px 0;
          filter: saturate(0);
          transition: 0.4s;

          &:hover {
            filter: none;
          }
        }

        address {
          font-style: normal;
          font-size: 18px;
          line-height: 1.5;
        }
      }

      .gallery-img {
        width: 20%;
        padding: 0 3px;
        img {
          width: 100%;
          filter: saturate(0);
          object-fit: cover;
        }
      }

      .join {
        .join-terms {
          margin-bottom: 100px;
          textarea {
            width: 100%;
            height: 150px;
            resize: none;
            padding: 20px;
            border: 1px solid #dcdcdc;
            margin-bottom: 20px;
          }

          .checkbox {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            input {
              margin-right: 20px;
              width: 20px;
              height: 20px;
            }
            label {
              font-size: 18px;
            }
          }
        }

        .join-info {
          .con-title {
            &::before {
              width: 70%;
            }
          }

          fieldset {
            border: none;
          }

          table {
            width: 100%;

            tr {
              th {
                width: 30%;
                text-transform: uppercase;
                padding: 20px;
              }

              td {
                [type="text"],
                [type="password"] {
                  padding: 20px 10px;
                  width: 100%;
                  border: none;
                  border-bottom: 1px solid #dcdcdc;
                }

                [type="date"] {
                  width: 40%;
                  padding: 10px;
                  border: none;
                  border-bottom: 1px solid #dcdcdc;
                }

                input {
                  margin-left: 20px;
                }

                label {
                  text-transform: uppercase;
                  margin-left: 20px;
                }

                textarea {
                  width: 100%;
                  height: 60px;
                  padding: 20px;
                  resize: none;
                  border: none;
                  border-bottom: 1px solid #dcdcdc;
                }

                input,
                textarea {
                  &:active,
                  &:focus {
                    outline: none;
                  }
                }
              }
              &:last-child {
                td {
                  width: 100%;
                  padding: 20px;
                  text-align: center;

                  input {
                    margin-top: 30px;
                    margin-right: 20px;
                    width: 150px;
                    height: 40px;
                    border: $border;
                    background-color: #fff;
                    line-height: 40px;
                    text-transform: uppercase;
                    font-size: 16px;
                    cursor: pointer;

                    &:last-of-type {
                      background-color: #333;
                      color: #fff;
                    }
                  }
                }
              }

              p {
                color: #ff6666;
                font-size: 14px;
                margin-top: 10px;
                margin-left: 20px;
              }
            }
          }
        }
      }
    }

    .btnIcons {
      width: 100%;
      position: absolute;
      top: 200px;
      right: 0;

      article {
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
          position: absolute;
          top: -9px;
          right: 22px;
          width: 40px;
          height: 40px;
          padding: 0 10px;
          transition: 0.5s;
          border: none;
          border-radius: 4px;

          &:focus,
          &:active {
            outline: none;
          }

          &::placeholder {
            color: #fff;
          }

          &.on {
            width: 200px;
            border: 1px solid #333;
            transition: 0.5s;

            &::placeholder {
              color: #333;
            }
          }
        }
        i {
          font-size: 22px;
          margin: 0 30px;
          cursor: pointer;
          transition: color 0.4s;
          z-index: 2;

          &:hover {
            color: #777;
          }
        }
      }
    }

    .faq-board {
      width: 100%;
      table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse;

        tr {
          height: 60px;
          text-align: center;
          &:not(:nth-of-type(1)) {
            transition: 0.2s;

            &:hover {
              background-color: #333;
              color: #fff;
              a {
                color: #fff;
              }
            }
          }

          td {
            &:nth-of-type(3) {
              text-align: left;
              padding-left: 10px;
            }
          }

          th,
          td {
            border-bottom: 1px solid #333;
            padding: 10px;
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      height: 100px;
      margin: 0 auto;
      margin-top: 30px;

      > a {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #333;
        outline: none;
        transition: 0.3s;
        cursor: pointer;
        line-height: 30px;
        text-align: center;

        &:hover {
          background-color: #333;
          color: #fff;
        }
      }

      ul {
        display: flex;
        li {
          width: 50px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          margin: 0 10px;
          transition: 0.3s;

          &:hover {
            background-color: #333;
            a {
              color: #fff;
            }
          }

          a {
            display: block;
            width: 100%;
            height: 100%;
            transform: translateY(1px);
          }
        }
      }
    }
  }

  .more-btn {
    width: 100%;
    margin-top: 100px;
    button {
      display: block;
      padding: 15px 40px;
      font-size: 17px;
      border-radius: 100px;
      border: none;
      margin: 0 auto;
      font-weight: 700;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
}
