header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;

  text-transform: uppercase;

  .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      a {
        p {
          font-size: 48px;
          color: #fff;
          text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333;
        }
      }
    }

    .gnb {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      transition: 0.4s;

      ul {
        &:not(:nth-of-type(3)) {
          margin-right: 200px;
        }

        li {
          position: relative;

          a {
            h2 {
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .btn-menu {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 20px;
      height: 20px;
      color: #333;
      display: none;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s;
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s;
      }

      &.on {
        &::before {
          top: 50%;
          transform: rotate(45deg);
          margin-top: -1px;
        }

        &::after {
          bottom: 50%;
          transform: rotate(-45deg);
          margin-bottom: -1px;
        }

        span {
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }

    .menu-mobile {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100vh;
      background-color: #fff;
      z-index: 50;
      padding: 60px 30px;
      transition: 0.5s;

      > h1 {
        position: relative;
        top: 0;
        left: 0;
        font-size: 42px;
        color: #fff;
        text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333;
      }

      ul {
        li {
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-bottom: 1px solid #333;
          a {
            h2 {
              transition: 0.3s;
            }
          }

          &:hover {
            a {
              h2 {
                font-size: 24px;
              }
            }
          }
        }
      }

      &.on {
        left: 0;
      }
    }
  }
}
