main {
  width: 100%;

  section {
    width: 100%;

    &.mainView {
      height: 100vh;
      margin-bottom: 100px;
      .inner {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        &::after {
          content: "";
          display: block;
          clear: both;
        }

        .text {
          float: left;
          position: absolute;
          top: 100px;
          left: 0%;
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 2;

          h1 {
            font-size: 120px;
            text-transform: uppercase;
            margin-bottom: 20px;
            position: relative;
          }

          h2 {
            font-size: 22px;
            color: #333;
            margin-bottom: 30px;
            position: relative;
          }

          p {
            width: 80%;
            font-size: 16px;
            color: #777;
            line-height: 1.4;
            position: relative;
          }
        }

        .more {
          position: absolute;
          top: 500px;
          left: 20px;
          display: flex;
          z-index: 2;

          .more-img {
            width: 80px;
            height: 80px;
            margin-right: 20px;

            &:hover img {
              filter: saturate(100%);
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              filter: saturate(0);
              transition: 0.5s;
            }
          }

          .more-text {
            display: flex;
            flex-direction: column;

            h3 {
              font-size: 16px;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            p {
              font-size: 14px;
              color: #333;
              width: 90%;
              border-top: 1px solid #888;
              padding-top: 10px;
            }
          }

          .more-btn {
            position: absolute;
            top: 150px;
            left: -30px;
            border-radius: 100px;

            border: 1px solid #333;
            transition: 0.3s;

            a {
              display: block;
              padding: 20px 50px;

              color: #333;
              font-weight: bold;
              font-size: 18px;
            }

            &:hover {
              background-color: #333;
              a {
                color: #fff;
              }
            }
          }
        }

        .img {
          width: 40%;
          height: 100%;
          float: right;
          position: absolute;

          top: 0;
          right: 0;
          z-index: 1;

          img {
            position: absolute;
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: saturate(0);
            transition: 0.5s;
            overflow: hidden;

            &:nth-of-type(1) {
              width: 90%;
              top: 6%;
              left: -50%;
            }

            &:nth-of-type(2) {
              width: 80%;
              top: 20%;
              left: 30%;
            }

            &:hover {
              filter: saturate(100%);
              transform: scale(1.02);
            }
          }
        }
      }
    }

    &.newArrival {
      width: 100%;

      padding: 80px 0;
      border-top: $border;
      border-bottom: $border;

      .inner {
        width: 1180px;
        margin: 0 auto;

        > h1 {
          font-size: 48px;
          font-weight: bold;
          text-transform: uppercase;
          color: #333;
          text-align: center;
        }

        .wrap {
          margin-top: 100px;
          article {
            float: left;
            width: 380px;
            margin-right: 20px;

            &:nth-of-type(3) {
              margin-right: 0;
            }
            .img {
              img {
                width: 100%;
                height: 380px;
                object-fit: cover;
                filter: saturate(0);
                transition: 0.4s;
              }

              &:hover img {
                filter: saturate(100%);
              }
            }

            .text {
              margin-top: 20px;
              h2 {
                font-size: 28px;
                text-transform: uppercase;
                margin-bottom: 10px;
              }

              p {
                font-size: 18px;
                color: #333;
                margin-bottom: 20px;
                letter-spacing: -0.03em;
              }

              a {
                text-transform: uppercase;
                display: block;
                width: 150px;
                height: 40px;
                border-radius: 100px;
                text-align: center;
                line-height: 40px;
                border: $border;
                color: #333;
                transition: 0.4s;

                &:hover {
                  background-color: #333;
                  color: #fff;
                }

                &:active {
                  transform: scale(0.98);
                }
              }
            }
          }
        }
      }
    }

    &.mainGallery {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: relative;

      .images {
        width: 500%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;

        &::after {
          content: "";
          display: block;
          clear: both;
        }

        img {
          float: left;
          width: 100vw;
          height: 100%;
          object-fit: cover;
          filter: saturate(0);
        }
      }

      .btns {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100vw;

        button {
          position: absolute;
          width: 120px;
          height: 120px;
          background-color: transparent;
          border: 1px solid #fff;
          outline: none;
          border-radius: 50%;
          font-size: 30px;
          color: #fff;
          cursor: pointer;

          &.prev {
            left: 50px;
          }

          &.next {
            right: 50px;
          }
        }
      }
    }

    &.category {
      width: 100%;
      height: 100vh;

      border-bottom: $border;
      position: relative;
      overflow: hidden;

      .inner {
        width: 1180px;
        height: 100vh;
        margin: 0 auto;
        border-left: $border;
        border-right: $border;

        &::after {
          @include floatAfter;
        }

        a {
          display: block;
          width: 25%;
          height: calc(50vh - 1px);
          float: left;
          position: relative;
          cursor: none;

          &:nth-of-type(1) img {
            border-right: $border;
          }

          &:nth-of-type(2) img {
            border-bottom: $border;
            border-right: $border;
          }

          &:nth-of-type(3) img {
            border-bottom: $border;
          }

          &:nth-of-type(4) img {
            border-right: $border;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: saturate(0);
            transition: 0.3s;
          }

          .text {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: #333;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.4);
            transition: 0.3s;
          }

          &:nth-of-type(1) {
            width: 50%;
            height: calc(100vh - 2px);
          }

          &:hover {
            img {
              filter: saturate(100%);
            }

            .text {
              display: flex;
            }
          }
        }
      }

      .cursor {
        position: absolute;

        width: 80px;
        height: 80px;
        font-size: 18px;
        line-height: 80px;
        text-align: center;

        font-weight: bold;
        color: #333;
        border-radius: 50%;
        border: $border;
        z-index: 1000;
        pointer-events: none;
        transform: translateX(-50%);
      }
    }

    &.brands {
      width: 100%;
      overflow: hidden;
      .brands-list {
        overflow: hidden;
        li {
          a {
            display: block;
            float: left;
            width: 240px;
            height: 300px;
            opacity: 0.3;
            transition: 0.5s;

            &:hover {
              opacity: 1;
            }
          }
        }

        a img {
          width: 100%;
        }
      }
    }
  }
}

.scrollBtns {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 100;

  ul {
    li {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: $border;
      border-radius: 50%;
      cursor: pointer;
      margin-bottom: 20px;
      transition: 0.3s;
      &.on {
        height: 100px;
        border-radius: 100px;
        background-color: #333;
      }
    }
  }
}

.moveTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: $border;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: 1s;

  i {
    font-size: 22px;
    line-height: 50px;
  }

  .on {
    opacity: 1;
  }
}
