@media screen and (max-width: $tablet) {
  header {
    .inner {
      width: 100%;

      h1 {
        left: 30px;
      }

      .gnb {
        margin-right: 30px;
      }
    }
  }

  main {
    width: 100%;

    section {
      width: 100%;

      &.mainView {
        height: 100vh;
        .inner {
          width: 90%;
          height: 100%;

          .text {
            width: 40%;

            h1 {
              font-size: 70px;
            }

            h2 {
              font-size: 20px;
            }

            p {
              width: 90%;
              font-size: 16px;
              color: #777;
              line-height: 1.4;
              position: relative;
            }
          }

          .more {
            top: 500px;
            left: 0px;

            .more-img {
              width: 50px;
              height: 50px;

              &:hover img {
                filter: saturate(100%);
              }
            }
            .more-text {
              h3 {
                font-size: 16px;
              }
              p {
                font-size: 12px;

                width: 60%;
              }
            }

            .more-btn {
              top: 120px;
              left: -10px;

              a {
                padding: 15px 30px;
                font-size: 16px;
              }
            }
          }
        }
      }
      &.newArrival {
        .inner {
          width: 100%;
          margin: 0 auto;
          padding: 0 20px;

          > h1 {
            font-size: 32px;
          }

          .wrap {
            margin-top: 100px;
            article {
              width: calc(100% / 3 - 15px);

              .text {
                h2 {
                  font-size: 22px;
                }

                p {
                  font-size: 16px;
                }

                a {
                  width: 120px;

                  &:hover {
                    background-color: #333;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      &.mainGallery {
        width: 100%;
        overflow: hidden;
        position: relative;

        .images {
          width: 100%;
          height: 100vh;

          &::after {
            content: "";
            display: block;
            clear: both;
          }

          img {
            float: left;
            width: 100vw;
            height: 100%;
            object-fit: cover;
            filter: saturate(0);
          }
        }

        .btns {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100vw;

          button {
            position: absolute;
            width: 120px;
            height: 120px;
            background-color: transparent;
            border: 1px solid #fff;
            outline: none;
            border-radius: 50%;
            font-size: 30px;
            color: #fff;
            cursor: pointer;

            &.prev {
              left: 50px;
            }

            &.next {
              right: 50px;
            }
          }
        }
      }

      &.category {
        .inner {
          width: 100%;

          a {
            .text {
              font-size: 26px;
            }
          }
        }
      }

      &.review {
        width: 100%;
        height: 200vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .content {
    .inner {
      width: 100%;

      .title {
        h1 {
          font-size: 4vmax;
        }
      }

      .con {
        .con-title {
          font-size: 3vmax;

          &::before {
            width: 50%;
          }
        }

        .about-identity {
          > .title {
            width: 20%;
          }

          > .text {
            width: 80%;
            margin-bottom: 30px;
          }

          > .img {
            width: 100%;

            img {
              width: 100%;
              height: 400px;
            }
          }
        }

        .about-history {
          .history-circle {
            display: none;
          }

          > ul {
            > li {
              text-align: left;
              transform: none;

              > ul {
                li {
                  div {
                    strong {
                      order: -1;
                    }
                  }
                }
              }

              &:nth-of-type(2) {
                transform: none;
              }
            }
          }
        }

        .member {
          width: calc(50% - 20px);

          margin-right: 20px;
          &:nth-of-type(3),
          &:nth-of-type(6) {
            margin-right: 20px;
          }
          &:nth-of-type(even) {
            margin-right: 0;
          }

          h2 {
            font-size: 36px;
          }

          img {
            width: 100%;
            height: 500px;
          }

          address {
            font-size: 16px;
          }
        }

        // .gallery-img {
        //   width: 20%;
        //   padding: 0 5px;
        //   img {
        //     width: 100%;
        //     filter: saturate(0);
        //     object-fit: cover;
        //   }
        // }

        .join {
          .order {
            display: none;
          }

          .join-terms {
            .checkbox {
              input {
                margin-right: 10px;
                width: 17px;
                height: 17px;
              }
              label {
                font-size: 14px;
              }
            }
          }

          .join-info {
            .con-title {
              &::before {
                width: 20%;
              }
            }

            table {
              tr {
                display: flex;
                flex-direction: column;
                th {
                  width: 100%;
                  text-align: left;
                  margin-bottom: 10px;
                  padding-left: 0;
                }

                td {
                  width: 100%;
                  margin-bottom: 40px;

                  [type="date"] {
                    width: 100%;
                  }

                  input {
                    margin-left: 0px;
                    margin-right: 0px;
                  }

                  label {
                    text-transform: uppercase;
                    margin-right: 20px;
                    margin-left: 5px;
                  }

                  [type="checkbox"] {
                  }
                }
                &:last-child {
                  td {
                    width: 100%;
                    padding: 20px;
                    text-align: center;

                    input {
                      margin-top: 30px;
                      margin-right: 20px;
                      width: 150px;
                      height: 40px;
                      border: $border;
                      background-color: #fff;
                      line-height: 40px;
                      text-transform: uppercase;
                      font-size: 16px;
                      cursor: pointer;

                      &:last-of-type {
                        background-color: #333;
                        color: #fff;
                      }
                    }
                  }
                }

                p {
                  color: #ff6666;
                  font-size: 14px;
                  margin-top: 10px;
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }

      .btnIcons {
        top: 150px;
        transition: 0.5s;
      }

      .faq-board {
        table {
          tr {
            td {
              &:nth-of-type(3) {
                width: 70%;
                font-size: 15px;
              }
            }

            th,
            td {
              &:nth-of-type(1),
              &:nth-of-type(2) {
                display: none;
              }
            }
          }
        }
      }

      .pagination {
        width: 100%;

        > a {
          &:hover {
            background-color: #333;
            color: #fff;
          }
        }

        ul {
          li {
            width: 30px;
            margin: 3px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    .inner {
      .gnb {
        display: none;
      }

      .btn-menu {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  footer {
    .footer-inner {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      color: #fff;

      > .title {
        > h1 {
          float: none;
          margin-right: 20px;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .link {
          float: none;

          a {
            padding: 10px 10px 10px 0;
            font-size: 14px;
          }
        }
      }

      .text {
        address {
          font-size: 12px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .content {
    > h1 {
      font-size: 2vmax;
    }
    .inner {
      .title {
        p {
          font-size: 16px;
        }
      }
      .con {
        .con-title {
          font-size: 24px;
        }

        .about-identity {
          > .title {
            width: 100%;
            margin-bottom: 20px;
            font-size: 14px;
          }

          > .text {
            width: 100%;
          }

          > .img {
            img {
              height: 200px;
            }
          }
        }

        .about-history {
          > ul {
            > li {
              p {
                font-size: 24px;
              }

              > ul {
                li {
                  div {
                    strong {
                      font-size: 16px;
                    }

                    p {
                      font-size: 14px;
                    }
                  }
                }
              }

              &:nth-of-type(2) {
                transform: none;
              }
            }
          }
        }

        .member {
          width: 100%;
          margin-right: 0;

          img {
            height: 300px;
          }

          address {
            font-size: 15px;
          }
        }

        // .gallery-img {
        //   width: 20%;
        //   padding: 0 5px;
        //   img {
        //     width: 100%;
        //     filter: saturate(0);
        //     object-fit: cover;
        //   }
        // }
      }

      .faq-board {
        table {
          tr {
            td {
              &:nth-of-type(3) {
                width: 100%;
                font-size: 15px;
              }
            }

            th,
            td {
              &:nth-of-type(4) {
                display: none;
              }
            }
          }
        }
      }

      .pagination {
        width: 100%;

        > a {
          &:hover {
            background-color: #333;
            color: #fff;
          }
        }

        ul {
          display: none;
        }
      }
    }
  }
}
