@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap");

@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.wrap {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;

  text-transform: uppercase;

  .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;

    position: relative;

    h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      img {
        width: 100px;
        height: auto;
      }
    }

    .gnb {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      transition: 0.4s;

      ul {
        &:not(:nth-of-type(3)) {
          margin-right: 200px;
        }

        li {
          position: relative;
          a {
            h2 {
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .btn-menu {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 20px;
      height: 20px;
      color: #333;
      display: none;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s, transform 0.5s 0.5s;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s, transform 0.5s 0.5s;
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s;
      }

      &.on {
        &::before {
          top: 50%;
          transform: rotate(45deg);
          margin-top: -1px;
        }

        &::after {
          bottom: 50%;
          transform: rotate(-45deg);
          margin-bottom: -1px;
        }

        span {
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }

    .menu-mobile {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100vh;
      background-color: #fff;
      z-index: 50;
      padding: 60px 30px;
      transition: 0.5s;

      > h1 {
        position: relative;
        top: 0;
        left: 0;
        font-size: 42px;
        color: #fff;
        text-shadow: -1px 0px #333, 0px 3px #333, 1px 0px #333, 0px -1px #333;
      }

      ul {
        li {
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-bottom: 1px solid #333;
          a {
            h2 {
              transition: 0.3s;
            }
          }

          &:hover {
            a {
              h2 {
                font-size: 24px;
              }
            }
          }
        }
      }

      &.on {
        left: 0;
      }
    }
  }
}

.content {
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;

  > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: saturate(0);
    border-bottom: 1px solid #333;
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 40px 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;

    .content {
      .title {
        margin-bottom: 100px;
        h1 {
          font-size: 4em;
          text-transform: uppercase;
          letter-spacing: -0.03em;
          position: relative;
          margin-bottom: 50px;
          transition: 0.5s;

          &::after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: #333;
            margin-top: 20px;
            animation: titleAni 3s cubic-bezier(0.21, 0.2, 0, 0.99) forwards;
          }

          &:hover {
            text-shadow: -1px 0px #333, 0px 1px #333, 1px 0px #333,
              0px -1px #333;
            color: #fff;

            @keyframes titleAni {
              0% {
                width: 0;
              }

              100% {
                width: 100%;
              }
            }
          }
        }

        p {
          font-size: 24px;
          line-height: 1.3;
          color: #333;
        }
      }

      .content__box {
        margin-bottom: 200px;
        > h1 {
          font-size: 4em;
          text-transform: uppercase;
          letter-spacing: -0.03em;
          position: relative;
          margin-bottom: 50px;
        }

        article {
          margin-bottom: 20px;
          padding: 20px 0 0 0;
          border-top: 1px solid #333;

          &:nth-of-type(3) {
            margin-bottom: 0;
          }
          > div {
            width: calc(100% / 3);
            float: left;
          }

          .title {
            width: calc(100% / 3 - 5%);
            h2 {
              text-transform: uppercase;
              font-size: 24px;
              font-weight: 400;
            }
          }

          .text {
            width: calc(100% / 3 + 4%);
            margin-right: 1%;
          }

          .img {
            img {
              width: 100%;
              height: 200px;
              object-fit: cover;
              filter: saturate(0);
            }
          }
        }
      }

      .content__members {
        position: relative;
        width: 100%;
        > .wrap {
          width: 100%;
          height: auto;

          position: relative;
          margin: 0 auto;

          .member {
            width: calc(100% / 3 - 14px);
            float: left;

            margin-right: 20px;
            margin-bottom: 40px;

            &:nth-of-type(3),
            &:nth-of-type(6) {
              margin-right: 0;
            }

            img {
              width: 366px;
              height: 366px;
              object-fit: cover;
              margin: 15px 0;
              padding: 15px 0;
              border-top: 1px solid #333;
              border-bottom: 1px solid #333;
              filter: saturate(0);
            }

            address {
              font-style: normal;
              line-height: 2;
            }
          }
        }
      }

      .mySwiper {
        width: 100%;
        height: 800px;
        overflow: hidden;

        .swiper-wrapper {
          .swiper-slide {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: saturate(0);
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #fff;
          transform: translateY(100px);
        }
      }
    }

    .content__history {
      width: 100%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 50px;

      > h1 {
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        position: relative;
        margin-bottom: 60px;
      }

      .content__circle {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: #333;
        border-radius: 50%;
        margin: 0 auto;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          transform: translateZ(-50%);
          width: 1px;
          height: 107vh;
          background-color: #333;
        }
      }

      > ul {
        width: 100%;
        height: 100vh;
        position: relative;

        > li {
          width: 50%;
          position: absolute;

          &:nth-of-type(1) {
            top: 10%;
            left: -2%;
            text-align: right;
          }

          &:nth-of-type(2) {
            position: absolute;
            top: 40%;
            left: 52%;
          }

          &:nth-of-type(3) {
            top: 70%;
            left: -2%;
            text-align: right;
          }

          > span {
            font-size: 42px;
            font-weight: 700;
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 30vw;
              height: 1px;
              position: absolute;
              top: 50%;
              right: -40%;
              background-color: #333;
            }

            &::after {
              content: "";
              display: block;
              width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 50%;
              border: 1px solid #333;
              position: absolute;
              top: 50%;
              right: -40%;
              transform: translateY(-50%);
            }
          }

          > ul {
            margin-top: 20px;

            li {
              margin-bottom: 20px;

              &::after {
                content: "";
                display: block;
                clear: both;
              }

              span,
              p {
                display: block;
                float: right;
              }

              span {
                margin-left: 20px;
                font-size: 24px;
                font-weight: 700;
              }

              p {
                line-height: 20px;
                padding: 5px 0;
              }
            }
          }

          &:nth-of-type(2) {
            li {
              span,
              p {
                float: left;
              }

              span {
                margin-right: 20px;
              }
            }
            > span {
              &::before {
                right: 0;
                left: -30%;
              }

              &::after {
                right: 0;
                left: -35%;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #333;
  color: #333;

  .footer-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    color: #fff;

    > .title {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;

      > h1 {
        float: left;
        text-transform: uppercase;
      }

      .link {
        float: right;

        a {
          display: block;
          float: left;
          padding: 10px 30px;
          color: #fff;
        }
      }
    }

    .text {
      address {
        font-style: normal;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  header {
    .inner {
      width: 100%;

      h1 {
        left: 30px;
      }

      .gnb {
        margin-right: 30px;
      }
    }
  }

  .content {
    width: 100%;
    position: relative;
    font-family: "Montserrat", sans-serif;

    > img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      filter: saturate(0);
      border-bottom: 1px solid #333;
    }

    .inner {
      width: 100%;
      margin: 0 auto;
      padding: 40px 20px;
      border-left: 1px solid #333;
      border-right: 1px solid #333;

      .content {
        .title {
          margin-bottom: 100px;
          h1 {
            font-size: 4em;
            text-transform: uppercase;
            letter-spacing: -0.03em;
            position: relative;
            margin-bottom: 50px;
            transition: 0.5s;

            &::after {
              content: "";
              display: block;
              width: 0;
              height: 1px;
              background-color: #333;
              margin-top: 20px;
              animation: titleAni 3s cubic-bezier(0.21, 0.2, 0, 0.99) forwards;
            }

            &:hover {
              text-shadow: -1px 0px #333, 0px 1px #333, 1px 0px #333,
                0px -1px #333;
              color: #fff;

              @keyframes titleAni {
                0% {
                  width: 0;
                }

                100% {
                  width: 100%;
                }
              }
            }
          }

          p {
            font-size: 24px;
            line-height: 1.3;
            color: #333;
          }
        }

        .content__members {
          > .wrap {
            width: 100%;
            height: auto;
            position: relative;
            margin: 0 auto;

            .member {
              width: 48%;

              margin-right: 0;

              &:nth-child(odd) {
                margin-right: 20px;
              }

              img {
                width: 100%;
              }

              address {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    .inner {
      .gnb {
        display: none;
      }

      .btn-menu {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  footer {
    .footer-inner {
      width: 100%;
      height: 100%;
      margin: 0 auto;

      color: #fff;

      > .title {
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;

        > h1 {
          float: left;
          text-transform: uppercase;
          text-align-last: left;
          margin-right: 20px;
        }

        .link {
          float: left;

          a {
            display: block;
            float: left;
            padding: 10px 20px 10px 0;

            margin: 0;
          }
        }
      }

      .text {
        address {
          font-size: 12px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .content {
    .inner {
      .content {
        .content__members {
          .wrap {
            .member {
              width: 100%;
            }
          }
        }

        .content__box {
          margin-bottom: 200px;
          > h1 {
            font-size: 4em;
            text-transform: uppercase;
            letter-spacing: -0.03em;
            position: relative;
            margin-bottom: 50px;
          }

          article {
            margin-bottom: 20px;
            padding: 20px 0 0 0;
            border-top: 1px solid #333;

            &:nth-of-type(3) {
              margin-bottom: 0;
            }
            > div {
              width: calc(50%);
              float: left;
            }

            .title {
              width: calc(100% / 2 - 5%);
              h2 {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 400;
              }
            }

            .text {
              width: calc(100% / 2 + 4%);
              margin-right: 1%;
              margin-bottom: 20px;
              font-size: 16px;
            }

            .img {
              width: 100%;
              img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                filter: saturate(0);
              }
            }
          }
        }
      }
    }
  }
}
