@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap");

@import "./variable";
@import "./mixin";
@import "./header";
@import "./mainView";
@import "./_sub-pages/content-page";
@import "./_sub-pages/about";
@import "./_sub-pages/faq";
@import "./_sub-pages/join";
@import "./_sub-pages/member";
@import "./_sub-pages/youtube";
@import "./_sub-pages/shop";
@import "./_sub-pages/gallery";
@import "./footer";
@import "./mediaquery";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

button,
input {
  font-family: "Montserrat", sans-serif;
}

.wrap {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -999999px;
  opacity: 0;
  overflow: hidden;
}
